{
  "openapi": "3.0.3",
  "info": {
    "title": "Gemini API",
    "description": "The Gemini API allows developers to build generative AI applications using Gemini models. Gemini is our most capable model, built from the ground up to be multimodal. It can generalize and seamlessly understand, operate across, and combine different types of information including language, images, audio, video, and code. You can use the Gemini API for use cases like reasoning across text and images, content generation, dialogue agents, summarization and classification systems, and more.",
    "version": "v1beta"
  },
  "servers": [
    {
      "url": "https://generativelanguage.googleapis.com/v1beta"
    }
  ],
  "paths": {
    "/files:register": {
      "post": {
        "description": "Registers a Google Cloud Storage files with FileService. The user is expected to provide Google Cloud Storage URIs and will receive a File resource for each URI in return. Note that the files are not copied, just registered with File API. If one file fails to register, the whole request fails.",
        "operationId": "files.register",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RegisterFilesRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RegisterFilesResponse"
                }
              }
            }
          }
        }
      }
    },
    "/files/{filesId}": {
      "get": {
        "description": "Gets the metadata for the given `File`.",
        "operationId": "files.get",
        "parameters": [
          {
            "name": "filesId",
            "in": "path",
            "required": true,
            "description": "Required. The name of the `File` to get. Example: `files/abc-123`",
            "schema": {
              "type": "string",
              "pattern": "^files/[^/]+$"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/File"
                }
              }
            }
          }
        }
      },
      "delete": {
        "description": "Deletes the `File`.",
        "operationId": "files.delete",
        "parameters": [
          {
            "name": "filesId",
            "in": "path",
            "required": true,
            "description": "Required. The name of the `File` to delete. Example: `files/abc-123`",
            "schema": {
              "type": "string",
              "pattern": "^files/[^/]+$"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Empty"
                }
              }
            }
          }
        }
      }
    },
    "/files": {
      "get": {
        "description": "Lists the metadata for `File`s owned by the requesting project.",
        "operationId": "files.list",
        "parameters": [
          {
            "name": "pageSize",
            "in": "query",
            "description": "Optional. Maximum number of `File`s to return per page. If unspecified, defaults to 10. Maximum `page_size` is 100.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "pageToken",
            "in": "query",
            "description": "Optional. A page token from a previous `ListFiles` call.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListFilesResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "description": "Creates a `File`.",
        "operationId": "media.upload",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateFileRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateFileResponse"
                }
              }
            }
          }
        }
      }
    },
    "/fileSearchStores/{fileSearchStoresId}:uploadToFileSearchStore": {
      "post": {
        "description": "Uploads data to a FileSearchStore, preprocesses and chunks before storing it in a FileSearchStore Document.",
        "operationId": "media.uploadToFileSearchStore",
        "parameters": [
          {
            "name": "fileSearchStoresId",
            "in": "path",
            "required": true,
            "description": "Required. Immutable. The name of the `FileSearchStore` to upload the file into. Example: `fileSearchStores/my-file-search-store-123`",
            "schema": {
              "type": "string",
              "pattern": "^fileSearchStores/[^/]+$"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UploadToFileSearchStoreRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomLongRunningOperation"
                }
              }
            }
          }
        }
      }
    },
    "/generatedFiles": {
      "get": {
        "description": "Lists the generated files owned by the requesting project.",
        "operationId": "generatedFiles.list",
        "parameters": [
          {
            "name": "pageSize",
            "in": "query",
            "description": "Optional. Maximum number of `GeneratedFile`s to return per page. If unspecified, defaults to 10. Maximum `page_size` is 50.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "pageToken",
            "in": "query",
            "description": "Optional. A page token from a previous `ListGeneratedFiles` call.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListGeneratedFilesResponse"
                }
              }
            }
          }
        }
      }
    },
    "/generatedFiles/{generatedFilesId}/operations/{operationsId}": {
      "get": {
        "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
        "operationId": "generatedFiles.operations.get",
        "parameters": [
          {
            "name": "operationsId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "generatedFilesId",
            "in": "path",
            "required": true,
            "description": "The name of the operation resource.",
            "schema": {
              "type": "string",
              "pattern": "^generatedFiles/[^/]+/operations/[^/]+$"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Operation"
                }
              }
            }
          }
        }
      }
    },
    "/dynamic/{dynamicId}:streamGenerateContent": {
      "post": {
        "description": "Generates a [streamed response](https://ai.google.dev/gemini-api/docs/text-generation?lang=python#generate-a-text-stream) from the model given an input `GenerateContentRequest`.",
        "operationId": "dynamic.streamGenerateContent",
        "parameters": [
          {
            "name": "dynamicId",
            "in": "path",
            "required": true,
            "description": "Required. The name of the `Model` to use for generating the completion. Format: `models/{model}`.",
            "schema": {
              "type": "string",
              "pattern": "^dynamic/[^/]+$"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GenerateContentRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenerateContentResponse"
                }
              },
              "text/event-stream": {
                "schema": {
                  "$ref": "#/components/schemas/GenerateContentResponse"
                }
              }
            }
          }
        }
      }
    },
    "/dynamic/{dynamicId}:generateContent": {
      "post": {
        "description": "Generates a model response given an input `GenerateContentRequest`. Refer to the [text generation guide](https://ai.google.dev/gemini-api/docs/text-generation) for detailed usage information. Input capabilities differ between models, including tuned models. Refer to the [model guide](https://ai.google.dev/gemini-api/docs/models/gemini) and [tuning guide](https://ai.google.dev/gemini-api/docs/model-tuning) for details.",
        "operationId": "dynamic.generateContent",
        "parameters": [
          {
            "name": "dynamicId",
            "in": "path",
            "required": true,
            "description": "Required. The name of the `Model` to use for generating the completion. Format: `models/{model}`.",
            "schema": {
              "type": "string",
              "pattern": "^dynamic/[^/]+$"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GenerateContentRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenerateContentResponse"
                }
              }
            }
          }
        }
      }
    },
    "/models/{modelsId}:embedContent": {
      "post": {
        "description": "Generates a text embedding vector from the input `Content` using the specified [Gemini Embedding model](https://ai.google.dev/gemini-api/docs/models/gemini#text-embedding).",
        "operationId": "models.embedContent",
        "parameters": [
          {
            "name": "modelsId",
            "in": "path",
            "required": true,
            "description": "Required. The model's resource name. This serves as an ID for the Model to use. This name should match a model name returned by the `ListModels` method. Format: `models/{model}`",
            "schema": {
              "type": "string",
              "pattern": "^models/[^/]+$"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EmbedContentRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EmbedContentResponse"
                }
              }
            }
          }
        }
      }
    },
    "/models/{modelsId}:asyncBatchEmbedContent": {
      "post": {
        "description": "Enqueues a batch of `EmbedContent` requests for batch processing. We have a `BatchEmbedContents` handler in `GenerativeService`, but it was synchronized. So we name this one to be `Async` to avoid confusion.",
        "operationId": "models.asyncBatchEmbedContent",
        "parameters": [
          {
            "name": "modelsId",
            "in": "path",
            "required": true,
            "description": "Required. The name of the `Model` to use for generating the completion. Format: `models/{model}`.",
            "schema": {
              "type": "string",
              "pattern": "^models/[^/]+$"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AsyncBatchEmbedContentRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Operation"
                }
              }
            }
          }
        }
      }
    },
    "/models/{modelsId}:batchEmbedContents": {
      "post": {
        "description": "Generates multiple embedding vectors from the input `Content` which consists of a batch of strings represented as `EmbedContentRequest` objects.",
        "operationId": "models.batchEmbedContents",
        "parameters": [
          {
            "name": "modelsId",
            "in": "path",
            "required": true,
            "description": "Required. The model's resource name. This serves as an ID for the Model to use. This name should match a model name returned by the `ListModels` method. Format: `models/{model}`",
            "schema": {
              "type": "string",
              "pattern": "^models/[^/]+$"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BatchEmbedContentsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BatchEmbedContentsResponse"
                }
              }
            }
          }
        }
      }
    },
    "/models/{modelsId}:countTokens": {
      "post": {
        "description": "Runs a model's tokenizer on input `Content` and returns the token count. Refer to the [tokens guide](https://ai.google.dev/gemini-api/docs/tokens) to learn more about tokens.",
        "operationId": "models.countTokens",
        "parameters": [
          {
            "name": "modelsId",
            "in": "path",
            "required": true,
            "description": "Required. The model's resource name. This serves as an ID for the Model to use. This name should match a model name returned by the `ListModels` method. Format: `models/{model}`",
            "schema": {
              "type": "string",
              "pattern": "^models/[^/]+$"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CountTokensRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CountTokensResponse"
                }
              }
            }
          }
        }
      }
    },
    "/models/{modelsId}:batchGenerateContent": {
      "post": {
        "description": "Enqueues a batch of `GenerateContent` requests for batch processing.",
        "operationId": "models.batchGenerateContent",
        "parameters": [
          {
            "name": "modelsId",
            "in": "path",
            "required": true,
            "description": "Required. The name of the `Model` to use for generating the completion. Format: `models/{model}`.",
            "schema": {
              "type": "string",
              "pattern": "^models/[^/]+$"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BatchGenerateContentRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Operation"
                }
              }
            }
          }
        }
      }
    },
    "/models": {
      "get": {
        "description": "Lists the [`Model`s](https://ai.google.dev/gemini-api/docs/models/gemini) available through the Gemini API.",
        "operationId": "models.list",
        "parameters": [
          {
            "name": "pageSize",
            "in": "query",
            "description": "The maximum number of `Models` to return (per page). If unspecified, 50 models will be returned per page. This method returns at most 1000 models per page, even if you pass a larger page_size.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "pageToken",
            "in": "query",
            "description": "A page token, received from a previous `ListModels` call. Provide the `page_token` returned by one request as an argument to the next request to retrieve the next page. When paginating, all other parameters provided to `ListModels` must match the call that provided the page token.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListModelsResponse"
                }
              }
            }
          }
        }
      }
    },
    "/models/{modelsId}": {
      "get": {
        "description": "Gets information about a specific `Model` such as its version number, token limits, [parameters](https://ai.google.dev/gemini-api/docs/models/generative-models#model-parameters) and other metadata. Refer to the [Gemini models guide](https://ai.google.dev/gemini-api/docs/models/gemini) for detailed model information.",
        "operationId": "models.get",
        "parameters": [
          {
            "name": "modelsId",
            "in": "path",
            "required": true,
            "description": "Required. The resource name of the model. This name should match a model name returned by the `ListModels` method. Format: `models/{model}`",
            "schema": {
              "type": "string",
              "pattern": "^models/[^/]+$"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Model"
                }
              }
            }
          }
        }
      }
    },
    "/models/{modelsId}:generateContent": {
      "post": {
        "description": "Generates a model response given an input `GenerateContentRequest`. Refer to the [text generation guide](https://ai.google.dev/gemini-api/docs/text-generation) for detailed usage information. Input capabilities differ between models, including tuned models. Refer to the [model guide](https://ai.google.dev/gemini-api/docs/models/gemini) and [tuning guide](https://ai.google.dev/gemini-api/docs/model-tuning) for details.",
        "operationId": "models.generateContent",
        "parameters": [
          {
            "name": "modelsId",
            "in": "path",
            "required": true,
            "description": "Required. The name of the `Model` to use for generating the completion. Format: `models/{model}`.",
            "schema": {
              "type": "string",
              "pattern": "^models/[^/]+$"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GenerateContentRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenerateContentResponse"
                }
              }
            }
          }
        }
      }
    },
    "/models/{modelsId}:streamGenerateContent": {
      "post": {
        "description": "Generates a [streamed response](https://ai.google.dev/gemini-api/docs/text-generation?lang=python#generate-a-text-stream) from the model given an input `GenerateContentRequest`.",
        "operationId": "models.streamGenerateContent",
        "parameters": [
          {
            "name": "modelsId",
            "in": "path",
            "required": true,
            "description": "Required. The name of the `Model` to use for generating the completion. Format: `models/{model}`.",
            "schema": {
              "type": "string",
              "pattern": "^models/[^/]+$"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GenerateContentRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenerateContentResponse"
                }
              },
              "text/event-stream": {
                "schema": {
                  "$ref": "#/components/schemas/GenerateContentResponse"
                }
              }
            }
          }
        }
      }
    },
    "/models/{modelsId}/operations": {
      "get": {
        "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`.",
        "operationId": "models.operations.list",
        "parameters": [
          {
            "name": "filter",
            "in": "query",
            "description": "The standard list filter.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "modelsId",
            "in": "path",
            "required": true,
            "description": "The name of the operation's parent resource.",
            "schema": {
              "type": "string",
              "pattern": "^models/[^/]+$"
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "The standard list page size.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "pageToken",
            "in": "query",
            "description": "The standard list page token.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "returnPartialSuccess",
            "in": "query",
            "description": "When set to `true`, operations that are reachable are returned as normal, and those that are unreachable are returned in the ListOperationsResponse.unreachable field. This can only be `true` when reading across collections. For example, when `parent` is set to `\"projects/example/locations/-\"`. This field is not supported by default and will result in an `UNIMPLEMENTED` error if set unless explicitly documented otherwise in service or product specific documentation.",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListOperationsResponse"
                }
              }
            }
          }
        }
      }
    },
    "/models/{modelsId}/operations/{operationsId}": {
      "get": {
        "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
        "operationId": "models.operations.get",
        "parameters": [
          {
            "name": "operationsId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "modelsId",
            "in": "path",
            "required": true,
            "description": "The name of the operation resource.",
            "schema": {
              "type": "string",
              "pattern": "^models/[^/]+/operations/[^/]+$"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Operation"
                }
              }
            }
          }
        }
      }
    },
    "/corpora": {
      "get": {
        "description": "Lists all `Corpora` owned by the user.",
        "operationId": "corpora.list",
        "parameters": [
          {
            "name": "pageSize",
            "in": "query",
            "description": "Optional. The maximum number of `Corpora` to return (per page). The service may return fewer `Corpora`. If unspecified, at most 10 `Corpora` will be returned. The maximum size limit is 20 `Corpora` per page.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "pageToken",
            "in": "query",
            "description": "Optional. A page token, received from a previous `ListCorpora` call. Provide the `next_page_token` returned in the response as an argument to the next request to retrieve the next page. When paginating, all other parameters provided to `ListCorpora` must match the call that provided the page token.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListCorporaResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "description": "Creates an empty `Corpus`.",
        "operationId": "corpora.create",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Corpus"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Corpus"
                }
              }
            }
          }
        }
      }
    },
    "/corpora/{corporaId}": {
      "get": {
        "description": "Gets information about a specific `Corpus`.",
        "operationId": "corpora.get",
        "parameters": [
          {
            "name": "corporaId",
            "in": "path",
            "required": true,
            "description": "Required. The name of the `Corpus`. Example: `corpora/my-corpus-123`",
            "schema": {
              "type": "string",
              "pattern": "^corpora/[^/]+$"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Corpus"
                }
              }
            }
          }
        }
      },
      "delete": {
        "description": "Deletes a `Corpus`.",
        "operationId": "corpora.delete",
        "parameters": [
          {
            "name": "force",
            "in": "query",
            "description": "Optional. If set to true, any `Document`s and objects related to this `Corpus` will also be deleted. If false (the default), a `FAILED_PRECONDITION` error will be returned if `Corpus` contains any `Document`s.",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "corporaId",
            "in": "path",
            "required": true,
            "description": "Required. The resource name of the `Corpus`. Example: `corpora/my-corpus-123`",
            "schema": {
              "type": "string",
              "pattern": "^corpora/[^/]+$"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Empty"
                }
              }
            }
          }
        }
      }
    },
    "/corpora/{corporaId}/permissions": {
      "get": {
        "description": "Lists permissions for the specific resource.",
        "operationId": "corpora.permissions.list",
        "parameters": [
          {
            "name": "pageSize",
            "in": "query",
            "description": "Optional. The maximum number of `Permission`s to return (per page). The service may return fewer permissions. If unspecified, at most 10 permissions will be returned. This method returns at most 1000 permissions per page, even if you pass larger page_size.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "pageToken",
            "in": "query",
            "description": "Optional. A page token, received from a previous `ListPermissions` call. Provide the `page_token` returned by one request as an argument to the next request to retrieve the next page. When paginating, all other parameters provided to `ListPermissions` must match the call that provided the page token.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "corporaId",
            "in": "path",
            "required": true,
            "description": "Required. The parent resource of the permissions. Formats: `tunedModels/{tuned_model}` `corpora/{corpus}`",
            "schema": {
              "type": "string",
              "pattern": "^corpora/[^/]+$"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListPermissionsResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "description": "Create a permission to a specific resource.",
        "operationId": "corpora.permissions.create",
        "parameters": [
          {
            "name": "corporaId",
            "in": "path",
            "required": true,
            "description": "Required. The parent resource of the `Permission`. Formats: `tunedModels/{tuned_model}` `corpora/{corpus}`",
            "schema": {
              "type": "string",
              "pattern": "^corpora/[^/]+$"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Permission"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Permission"
                }
              }
            }
          }
        }
      }
    },
    "/corpora/{corporaId}/permissions/{permissionsId}": {
      "get": {
        "description": "Gets information about a specific Permission.",
        "operationId": "corpora.permissions.get",
        "parameters": [
          {
            "name": "permissionsId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "corporaId",
            "in": "path",
            "required": true,
            "description": "Required. The resource name of the permission. Formats: `tunedModels/{tuned_model}/permissions/{permission}` `corpora/{corpus}/permissions/{permission}`",
            "schema": {
              "type": "string",
              "pattern": "^corpora/[^/]+/permissions/[^/]+$"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Permission"
                }
              }
            }
          }
        }
      },
      "patch": {
        "description": "Updates the permission.",
        "operationId": "corpora.permissions.patch",
        "parameters": [
          {
            "name": "permissionsId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "corporaId",
            "in": "path",
            "required": true,
            "description": "Output only. Identifier. The permission name. A unique name will be generated on create. Examples: tunedModels/{tuned_model}/permissions/{permission} corpora/{corpus}/permissions/{permission} Output only.",
            "schema": {
              "type": "string",
              "pattern": "^corpora/[^/]+/permissions/[^/]+$"
            }
          },
          {
            "name": "updateMask",
            "in": "query",
            "description": "Required. The list of fields to update. Accepted ones: - role (`Permission.role` field)",
            "schema": {
              "type": "string",
              "format": "google-fieldmask"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Permission"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Permission"
                }
              }
            }
          }
        }
      },
      "delete": {
        "description": "Deletes the permission.",
        "operationId": "corpora.permissions.delete",
        "parameters": [
          {
            "name": "permissionsId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "corporaId",
            "in": "path",
            "required": true,
            "description": "Required. The resource name of the permission. Formats: `tunedModels/{tuned_model}/permissions/{permission}` `corpora/{corpus}/permissions/{permission}`",
            "schema": {
              "type": "string",
              "pattern": "^corpora/[^/]+/permissions/[^/]+$"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Empty"
                }
              }
            }
          }
        }
      }
    },
    "/corpora/{corporaId}/operations/{operationsId}": {
      "get": {
        "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
        "operationId": "corpora.operations.get",
        "parameters": [
          {
            "name": "operationsId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "corporaId",
            "in": "path",
            "required": true,
            "description": "The name of the operation resource.",
            "schema": {
              "type": "string",
              "pattern": "^corpora/[^/]+/operations/[^/]+$"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Operation"
                }
              }
            }
          }
        }
      }
    },
    "/batches/{batchesId}:cancel": {
      "post": {
        "description": "Starts asynchronous cancellation on a long-running operation. The server makes a best effort to cancel the operation, but success is not guaranteed. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Clients can use Operations.GetOperation or other methods to check whether the cancellation succeeded or whether the operation completed despite cancellation. On successful cancellation, the operation is not deleted; instead, it becomes an operation with an Operation.error value with a google.rpc.Status.code of `1`, corresponding to `Code.CANCELLED`.",
        "operationId": "batches.cancel",
        "parameters": [
          {
            "name": "batchesId",
            "in": "path",
            "required": true,
            "description": "The name of the operation resource to be cancelled.",
            "schema": {
              "type": "string",
              "pattern": "^batches/[^/]+$"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Empty"
                }
              }
            }
          }
        }
      }
    },
    "/batches/{batchesId}": {
      "get": {
        "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
        "operationId": "batches.get",
        "parameters": [
          {
            "name": "batchesId",
            "in": "path",
            "required": true,
            "description": "The name of the operation resource.",
            "schema": {
              "type": "string",
              "pattern": "^batches/[^/]+$"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Operation"
                }
              }
            }
          }
        }
      },
      "delete": {
        "description": "Deletes a long-running operation. This method indicates that the client is no longer interested in the operation result. It does not cancel the operation. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`.",
        "operationId": "batches.delete",
        "parameters": [
          {
            "name": "batchesId",
            "in": "path",
            "required": true,
            "description": "The name of the operation resource to be deleted.",
            "schema": {
              "type": "string",
              "pattern": "^batches/[^/]+$"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Empty"
                }
              }
            }
          }
        }
      }
    },
    "/batches/{batchesId}:updateEmbedContentBatch": {
      "patch": {
        "description": "Updates a batch of EmbedContent requests for batch processing.",
        "operationId": "batches.updateEmbedContentBatch",
        "parameters": [
          {
            "name": "batchesId",
            "in": "path",
            "required": true,
            "description": "Output only. Identifier. Resource name of the batch. Format: `batches/{batch_id}`.",
            "schema": {
              "type": "string",
              "pattern": "^batches/[^/]+$"
            }
          },
          {
            "name": "updateMask",
            "in": "query",
            "description": "Optional. The list of fields to update.",
            "schema": {
              "type": "string",
              "format": "google-fieldmask"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EmbedContentBatch"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EmbedContentBatch"
                }
              }
            }
          }
        }
      }
    },
    "/batches": {
      "get": {
        "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`.",
        "operationId": "batches.list",
        "parameters": [
          {
            "name": "filter",
            "in": "query",
            "description": "The standard list filter.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "The standard list page size.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "pageToken",
            "in": "query",
            "description": "The standard list page token.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "returnPartialSuccess",
            "in": "query",
            "description": "When set to `true`, operations that are reachable are returned as normal, and those that are unreachable are returned in the ListOperationsResponse.unreachable field. This can only be `true` when reading across collections. For example, when `parent` is set to `\"projects/example/locations/-\"`. This field is not supported by default and will result in an `UNIMPLEMENTED` error if set unless explicitly documented otherwise in service or product specific documentation.",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListOperationsResponse"
                }
              }
            }
          }
        }
      }
    },
    "/batches/{batchesId}:updateGenerateContentBatch": {
      "patch": {
        "description": "Updates a batch of GenerateContent requests for batch processing.",
        "operationId": "batches.updateGenerateContentBatch",
        "parameters": [
          {
            "name": "batchesId",
            "in": "path",
            "required": true,
            "description": "Output only. Identifier. Resource name of the batch. Format: `batches/{batch_id}`.",
            "schema": {
              "type": "string",
              "pattern": "^batches/[^/]+$"
            }
          },
          {
            "name": "updateMask",
            "in": "query",
            "description": "Optional. The list of fields to update.",
            "schema": {
              "type": "string",
              "format": "google-fieldmask"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GenerateContentBatch"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenerateContentBatch"
                }
              }
            }
          }
        }
      }
    },
    "/tunedModels/{tunedModelsId}": {
      "get": {
        "description": "Gets information about a specific TunedModel.",
        "operationId": "tunedModels.get",
        "parameters": [
          {
            "name": "tunedModelsId",
            "in": "path",
            "required": true,
            "description": "Required. The resource name of the model. Format: `tunedModels/my-model-id`",
            "schema": {
              "type": "string",
              "pattern": "^tunedModels/[^/]+$"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TunedModel"
                }
              }
            }
          }
        }
      },
      "delete": {
        "description": "Deletes a tuned model.",
        "operationId": "tunedModels.delete",
        "parameters": [
          {
            "name": "tunedModelsId",
            "in": "path",
            "required": true,
            "description": "Required. The resource name of the model. Format: `tunedModels/my-model-id`",
            "schema": {
              "type": "string",
              "pattern": "^tunedModels/[^/]+$"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Empty"
                }
              }
            }
          }
        }
      },
      "patch": {
        "description": "Updates a tuned model.",
        "operationId": "tunedModels.patch",
        "parameters": [
          {
            "name": "tunedModelsId",
            "in": "path",
            "required": true,
            "description": "Output only. The tuned model name. A unique name will be generated on create. Example: `tunedModels/az2mb0bpw6i` If display_name is set on create, the id portion of the name will be set by concatenating the words of the display_name with hyphens and adding a random portion for uniqueness. Example: * display_name = `Sentence Translator` * name = `tunedModels/sentence-translator-u3b7m`",
            "schema": {
              "type": "string",
              "pattern": "^tunedModels/[^/]+$"
            }
          },
          {
            "name": "updateMask",
            "in": "query",
            "description": "Optional. The list of fields to update.",
            "schema": {
              "type": "string",
              "format": "google-fieldmask"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TunedModel"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TunedModel"
                }
              }
            }
          }
        }
      }
    },
    "/tunedModels": {
      "post": {
        "description": "Creates a tuned model. Check intermediate tuning progress (if any) through the [google.longrunning.Operations] service. Access status and results through the Operations service. Example: GET /v1/tunedModels/az2mb0bpw6i/operations/000-111-222",
        "operationId": "tunedModels.create",
        "parameters": [
          {
            "name": "tunedModelId",
            "in": "query",
            "description": "Optional. The unique id for the tuned model if specified. This value should be up to 40 characters, the first character must be a letter, the last could be a letter or a number. The id must match the regular expression: `[a-z]([a-z0-9-]{0,38}[a-z0-9])?`.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TunedModel"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Operation"
                }
              }
            }
          }
        }
      },
      "get": {
        "description": "Lists created tuned models.",
        "operationId": "tunedModels.list",
        "parameters": [
          {
            "name": "filter",
            "in": "query",
            "description": "Optional. A filter is a full text search over the tuned model's description and display name. By default, results will not include tuned models shared with everyone. Additional operators: - owner:me - writers:me - readers:me - readers:everyone Examples: \"owner:me\" returns all tuned models to which caller has owner role \"readers:me\" returns all tuned models to which caller has reader role \"readers:everyone\" returns all tuned models that are shared with everyone",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "Optional. The maximum number of `TunedModels` to return (per page). The service may return fewer tuned models. If unspecified, at most 10 tuned models will be returned. This method returns at most 1000 models per page, even if you pass a larger page_size.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "pageToken",
            "in": "query",
            "description": "Optional. A page token, received from a previous `ListTunedModels` call. Provide the `page_token` returned by one request as an argument to the next request to retrieve the next page. When paginating, all other parameters provided to `ListTunedModels` must match the call that provided the page token.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListTunedModelsResponse"
                }
              }
            }
          }
        }
      }
    },
    "/tunedModels/{tunedModelsId}:generateContent": {
      "post": {
        "description": "Generates a model response given an input `GenerateContentRequest`. Refer to the [text generation guide](https://ai.google.dev/gemini-api/docs/text-generation) for detailed usage information. Input capabilities differ between models, including tuned models. Refer to the [model guide](https://ai.google.dev/gemini-api/docs/models/gemini) and [tuning guide](https://ai.google.dev/gemini-api/docs/model-tuning) for details.",
        "operationId": "tunedModels.generateContent",
        "parameters": [
          {
            "name": "tunedModelsId",
            "in": "path",
            "required": true,
            "description": "Required. The name of the `Model` to use for generating the completion. Format: `models/{model}`.",
            "schema": {
              "type": "string",
              "pattern": "^tunedModels/[^/]+$"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GenerateContentRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenerateContentResponse"
                }
              }
            }
          }
        }
      }
    },
    "/tunedModels/{tunedModelsId}:streamGenerateContent": {
      "post": {
        "description": "Generates a [streamed response](https://ai.google.dev/gemini-api/docs/text-generation?lang=python#generate-a-text-stream) from the model given an input `GenerateContentRequest`.",
        "operationId": "tunedModels.streamGenerateContent",
        "parameters": [
          {
            "name": "tunedModelsId",
            "in": "path",
            "required": true,
            "description": "Required. The name of the `Model` to use for generating the completion. Format: `models/{model}`.",
            "schema": {
              "type": "string",
              "pattern": "^tunedModels/[^/]+$"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GenerateContentRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenerateContentResponse"
                }
              },
              "text/event-stream": {
                "schema": {
                  "$ref": "#/components/schemas/GenerateContentResponse"
                }
              }
            }
          }
        }
      }
    },
    "/tunedModels/{tunedModelsId}:transferOwnership": {
      "post": {
        "description": "Transfers ownership of the tuned model. This is the only way to change ownership of the tuned model. The current owner will be downgraded to writer role.",
        "operationId": "tunedModels.transferOwnership",
        "parameters": [
          {
            "name": "tunedModelsId",
            "in": "path",
            "required": true,
            "description": "Required. The resource name of the tuned model to transfer ownership. Format: `tunedModels/my-model-id`",
            "schema": {
              "type": "string",
              "pattern": "^tunedModels/[^/]+$"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TransferOwnershipRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TransferOwnershipResponse"
                }
              }
            }
          }
        }
      }
    },
    "/tunedModels/{tunedModelsId}:asyncBatchEmbedContent": {
      "post": {
        "description": "Enqueues a batch of `EmbedContent` requests for batch processing. We have a `BatchEmbedContents` handler in `GenerativeService`, but it was synchronized. So we name this one to be `Async` to avoid confusion.",
        "operationId": "tunedModels.asyncBatchEmbedContent",
        "parameters": [
          {
            "name": "tunedModelsId",
            "in": "path",
            "required": true,
            "description": "Required. The name of the `Model` to use for generating the completion. Format: `models/{model}`.",
            "schema": {
              "type": "string",
              "pattern": "^tunedModels/[^/]+$"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AsyncBatchEmbedContentRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Operation"
                }
              }
            }
          }
        }
      }
    },
    "/tunedModels/{tunedModelsId}:batchGenerateContent": {
      "post": {
        "description": "Enqueues a batch of `GenerateContent` requests for batch processing.",
        "operationId": "tunedModels.batchGenerateContent",
        "parameters": [
          {
            "name": "tunedModelsId",
            "in": "path",
            "required": true,
            "description": "Required. The name of the `Model` to use for generating the completion. Format: `models/{model}`.",
            "schema": {
              "type": "string",
              "pattern": "^tunedModels/[^/]+$"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BatchGenerateContentRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Operation"
                }
              }
            }
          }
        }
      }
    },
    "/tunedModels/{tunedModelsId}/permissions": {
      "get": {
        "description": "Lists permissions for the specific resource.",
        "operationId": "tunedModels.permissions.list",
        "parameters": [
          {
            "name": "pageSize",
            "in": "query",
            "description": "Optional. The maximum number of `Permission`s to return (per page). The service may return fewer permissions. If unspecified, at most 10 permissions will be returned. This method returns at most 1000 permissions per page, even if you pass larger page_size.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "pageToken",
            "in": "query",
            "description": "Optional. A page token, received from a previous `ListPermissions` call. Provide the `page_token` returned by one request as an argument to the next request to retrieve the next page. When paginating, all other parameters provided to `ListPermissions` must match the call that provided the page token.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "tunedModelsId",
            "in": "path",
            "required": true,
            "description": "Required. The parent resource of the permissions. Formats: `tunedModels/{tuned_model}` `corpora/{corpus}`",
            "schema": {
              "type": "string",
              "pattern": "^tunedModels/[^/]+$"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListPermissionsResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "description": "Create a permission to a specific resource.",
        "operationId": "tunedModels.permissions.create",
        "parameters": [
          {
            "name": "tunedModelsId",
            "in": "path",
            "required": true,
            "description": "Required. The parent resource of the `Permission`. Formats: `tunedModels/{tuned_model}` `corpora/{corpus}`",
            "schema": {
              "type": "string",
              "pattern": "^tunedModels/[^/]+$"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Permission"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Permission"
                }
              }
            }
          }
        }
      }
    },
    "/tunedModels/{tunedModelsId}/permissions/{permissionsId}": {
      "get": {
        "description": "Gets information about a specific Permission.",
        "operationId": "tunedModels.permissions.get",
        "parameters": [
          {
            "name": "tunedModelsId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "permissionsId",
            "in": "path",
            "required": true,
            "description": "Required. The resource name of the permission. Formats: `tunedModels/{tuned_model}/permissions/{permission}` `corpora/{corpus}/permissions/{permission}`",
            "schema": {
              "type": "string",
              "pattern": "^tunedModels/[^/]+/permissions/[^/]+$"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Permission"
                }
              }
            }
          }
        }
      },
      "patch": {
        "description": "Updates the permission.",
        "operationId": "tunedModels.permissions.patch",
        "parameters": [
          {
            "name": "tunedModelsId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "permissionsId",
            "in": "path",
            "required": true,
            "description": "Output only. Identifier. The permission name. A unique name will be generated on create. Examples: tunedModels/{tuned_model}/permissions/{permission} corpora/{corpus}/permissions/{permission} Output only.",
            "schema": {
              "type": "string",
              "pattern": "^tunedModels/[^/]+/permissions/[^/]+$"
            }
          },
          {
            "name": "updateMask",
            "in": "query",
            "description": "Required. The list of fields to update. Accepted ones: - role (`Permission.role` field)",
            "schema": {
              "type": "string",
              "format": "google-fieldmask"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Permission"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Permission"
                }
              }
            }
          }
        }
      },
      "delete": {
        "description": "Deletes the permission.",
        "operationId": "tunedModels.permissions.delete",
        "parameters": [
          {
            "name": "tunedModelsId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "permissionsId",
            "in": "path",
            "required": true,
            "description": "Required. The resource name of the permission. Formats: `tunedModels/{tuned_model}/permissions/{permission}` `corpora/{corpus}/permissions/{permission}`",
            "schema": {
              "type": "string",
              "pattern": "^tunedModels/[^/]+/permissions/[^/]+$"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Empty"
                }
              }
            }
          }
        }
      }
    },
    "/tunedModels/{tunedModelsId}/operations": {
      "get": {
        "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`.",
        "operationId": "tunedModels.operations.list",
        "parameters": [
          {
            "name": "filter",
            "in": "query",
            "description": "The standard list filter.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "tunedModelsId",
            "in": "path",
            "required": true,
            "description": "The name of the operation's parent resource.",
            "schema": {
              "type": "string",
              "pattern": "^tunedModels/[^/]+$"
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "The standard list page size.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "pageToken",
            "in": "query",
            "description": "The standard list page token.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "returnPartialSuccess",
            "in": "query",
            "description": "When set to `true`, operations that are reachable are returned as normal, and those that are unreachable are returned in the ListOperationsResponse.unreachable field. This can only be `true` when reading across collections. For example, when `parent` is set to `\"projects/example/locations/-\"`. This field is not supported by default and will result in an `UNIMPLEMENTED` error if set unless explicitly documented otherwise in service or product specific documentation.",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListOperationsResponse"
                }
              }
            }
          }
        }
      }
    },
    "/tunedModels/{tunedModelsId}/operations/{operationsId}": {
      "get": {
        "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
        "operationId": "tunedModels.operations.get",
        "parameters": [
          {
            "name": "tunedModelsId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "operationsId",
            "in": "path",
            "required": true,
            "description": "The name of the operation resource.",
            "schema": {
              "type": "string",
              "pattern": "^tunedModels/[^/]+/operations/[^/]+$"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Operation"
                }
              }
            }
          }
        }
      }
    },
    "/cachedContents": {
      "get": {
        "description": "Lists CachedContents.",
        "operationId": "cachedContents.list",
        "parameters": [
          {
            "name": "pageSize",
            "in": "query",
            "description": "Optional. The maximum number of cached contents to return. The service may return fewer than this value. If unspecified, some default (under maximum) number of items will be returned. The maximum value is 1000; values above 1000 will be coerced to 1000.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "pageToken",
            "in": "query",
            "description": "Optional. A page token, received from a previous `ListCachedContents` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListCachedContents` must match the call that provided the page token.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListCachedContentsResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "description": "Creates CachedContent resource.",
        "operationId": "cachedContents.create",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CachedContent"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CachedContent"
                }
              }
            }
          }
        }
      }
    },
    "/cachedContents/{cachedContentsId}": {
      "get": {
        "description": "Reads CachedContent resource.",
        "operationId": "cachedContents.get",
        "parameters": [
          {
            "name": "cachedContentsId",
            "in": "path",
            "required": true,
            "description": "Required. The resource name referring to the content cache entry. Format: `cachedContents/{id}`",
            "schema": {
              "type": "string",
              "pattern": "^cachedContents/[^/]+$"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CachedContent"
                }
              }
            }
          }
        }
      },
      "patch": {
        "description": "Updates CachedContent resource (only expiration is updatable).",
        "operationId": "cachedContents.patch",
        "parameters": [
          {
            "name": "cachedContentsId",
            "in": "path",
            "required": true,
            "description": "Output only. Identifier. The resource name referring to the cached content. Format: `cachedContents/{id}`",
            "schema": {
              "type": "string",
              "pattern": "^cachedContents/[^/]+$"
            }
          },
          {
            "name": "updateMask",
            "in": "query",
            "description": "The list of fields to update.",
            "schema": {
              "type": "string",
              "format": "google-fieldmask"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CachedContent"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CachedContent"
                }
              }
            }
          }
        }
      },
      "delete": {
        "description": "Deletes CachedContent resource.",
        "operationId": "cachedContents.delete",
        "parameters": [
          {
            "name": "cachedContentsId",
            "in": "path",
            "required": true,
            "description": "Required. The resource name referring to the content cache entry Format: `cachedContents/{id}`",
            "schema": {
              "type": "string",
              "pattern": "^cachedContents/[^/]+$"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Empty"
                }
              }
            }
          }
        }
      }
    },
    "/fileSearchStores": {
      "post": {
        "description": "Creates an empty `FileSearchStore`.",
        "operationId": "fileSearchStores.create",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FileSearchStore"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FileSearchStore"
                }
              }
            }
          }
        }
      },
      "get": {
        "description": "Lists all `FileSearchStores` owned by the user.",
        "operationId": "fileSearchStores.list",
        "parameters": [
          {
            "name": "pageSize",
            "in": "query",
            "description": "Optional. The maximum number of `FileSearchStores` to return (per page). The service may return fewer `FileSearchStores`. If unspecified, at most 10 `FileSearchStores` will be returned. The maximum size limit is 20 `FileSearchStores` per page.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "pageToken",
            "in": "query",
            "description": "Optional. A page token, received from a previous `ListFileSearchStores` call. Provide the `next_page_token` returned in the response as an argument to the next request to retrieve the next page. When paginating, all other parameters provided to `ListFileSearchStores` must match the call that provided the page token.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListFileSearchStoresResponse"
                }
              }
            }
          }
        }
      }
    },
    "/fileSearchStores/{fileSearchStoresId}": {
      "get": {
        "description": "Gets information about a specific `FileSearchStore`.",
        "operationId": "fileSearchStores.get",
        "parameters": [
          {
            "name": "fileSearchStoresId",
            "in": "path",
            "required": true,
            "description": "Required. The name of the `FileSearchStore`. Example: `fileSearchStores/my-file-search-store-123`",
            "schema": {
              "type": "string",
              "pattern": "^fileSearchStores/[^/]+$"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FileSearchStore"
                }
              }
            }
          }
        }
      },
      "delete": {
        "description": "Deletes a `FileSearchStore`.",
        "operationId": "fileSearchStores.delete",
        "parameters": [
          {
            "name": "force",
            "in": "query",
            "description": "Optional. If set to true, any `Document`s and objects related to this `FileSearchStore` will also be deleted. If false (the default), a `FAILED_PRECONDITION` error will be returned if `FileSearchStore` contains any `Document`s.",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "fileSearchStoresId",
            "in": "path",
            "required": true,
            "description": "Required. The resource name of the `FileSearchStore`. Example: `fileSearchStores/my-file-search-store-123`",
            "schema": {
              "type": "string",
              "pattern": "^fileSearchStores/[^/]+$"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Empty"
                }
              }
            }
          }
        }
      }
    },
    "/fileSearchStores/{fileSearchStoresId}:importFile": {
      "post": {
        "description": "Imports a `File` from File Service to a `FileSearchStore`.",
        "operationId": "fileSearchStores.importFile",
        "parameters": [
          {
            "name": "fileSearchStoresId",
            "in": "path",
            "required": true,
            "description": "Required. Immutable. The name of the `FileSearchStore` to import the file into. Example: `fileSearchStores/my-file-search-store-123`",
            "schema": {
              "type": "string",
              "pattern": "^fileSearchStores/[^/]+$"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ImportFileRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Operation"
                }
              }
            }
          }
        }
      }
    },
    "/fileSearchStores/{fileSearchStoresId}/upload/operations/{operationsId}": {
      "get": {
        "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
        "operationId": "fileSearchStores.upload.operations.get",
        "parameters": [
          {
            "name": "operationsId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fileSearchStoresId",
            "in": "path",
            "required": true,
            "description": "The name of the operation resource.",
            "schema": {
              "type": "string",
              "pattern": "^fileSearchStores/[^/]+/upload/operations/[^/]+$"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Operation"
                }
              }
            }
          }
        }
      }
    },
    "/fileSearchStores/{fileSearchStoresId}/operations/{operationsId}": {
      "get": {
        "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
        "operationId": "fileSearchStores.operations.get",
        "parameters": [
          {
            "name": "operationsId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fileSearchStoresId",
            "in": "path",
            "required": true,
            "description": "The name of the operation resource.",
            "schema": {
              "type": "string",
              "pattern": "^fileSearchStores/[^/]+/operations/[^/]+$"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Operation"
                }
              }
            }
          }
        }
      }
    },
    "/fileSearchStores/{fileSearchStoresId}/documents": {
      "get": {
        "description": "Lists all `Document`s in a `Corpus`.",
        "operationId": "fileSearchStores.documents.list",
        "parameters": [
          {
            "name": "pageSize",
            "in": "query",
            "description": "Optional. The maximum number of `Document`s to return (per page). The service may return fewer `Document`s. If unspecified, at most 10 `Document`s will be returned. The maximum size limit is 20 `Document`s per page.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "pageToken",
            "in": "query",
            "description": "Optional. A page token, received from a previous `ListDocuments` call. Provide the `next_page_token` returned in the response as an argument to the next request to retrieve the next page. When paginating, all other parameters provided to `ListDocuments` must match the call that provided the page token.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fileSearchStoresId",
            "in": "path",
            "required": true,
            "description": "Required. The name of the `FileSearchStore` containing `Document`s. Example: `fileSearchStores/my-file-search-store-123`",
            "schema": {
              "type": "string",
              "pattern": "^fileSearchStores/[^/]+$"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListDocumentsResponse"
                }
              }
            }
          }
        }
      }
    },
    "/fileSearchStores/{fileSearchStoresId}/documents/{documentsId}": {
      "get": {
        "description": "Gets information about a specific `Document`.",
        "operationId": "fileSearchStores.documents.get",
        "parameters": [
          {
            "name": "fileSearchStoresId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "documentsId",
            "in": "path",
            "required": true,
            "description": "Required. The name of the `Document` to retrieve. Example: `fileSearchStores/my-file-search-store-123/documents/the-doc-abc`",
            "schema": {
              "type": "string",
              "pattern": "^fileSearchStores/[^/]+/documents/[^/]+$"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Document"
                }
              }
            }
          }
        }
      },
      "delete": {
        "description": "Deletes a `Document`.",
        "operationId": "fileSearchStores.documents.delete",
        "parameters": [
          {
            "name": "fileSearchStoresId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "force",
            "in": "query",
            "description": "Optional. If set to true, any `Chunk`s and objects related to this `Document` will also be deleted. If false (the default), a `FAILED_PRECONDITION` error will be returned if `Document` contains any `Chunk`s.",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "documentsId",
            "in": "path",
            "required": true,
            "description": "Required. The resource name of the `Document` to delete. Example: `fileSearchStores/my-file-search-store-123/documents/the-doc-abc`",
            "schema": {
              "type": "string",
              "pattern": "^fileSearchStores/[^/]+/documents/[^/]+$"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Empty"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "GroundingChunk": {
        "description": "A `GroundingChunk` represents a segment of supporting evidence that grounds the model's response. It can be a chunk from the web, a retrieved context from a file, or information from Google Maps.",
        "type": "object",
        "properties": {
          "image": {
            "$ref": "#/components/schemas/Image",
            "description": "Optional. Grounding chunk from image search."
          },
          "maps": {
            "description": "Optional. Grounding chunk from Google Maps.",
            "$ref": "#/components/schemas/Maps"
          },
          "web": {
            "description": "Grounding chunk from the web.",
            "$ref": "#/components/schemas/Web"
          },
          "retrievedContext": {
            "$ref": "#/components/schemas/RetrievedContext",
            "description": "Optional. Grounding chunk from context retrieved by the file search tool."
          }
        }
      },
      "ReviewSnippet": {
        "type": "object",
        "properties": {
          "googleMapsUri": {
            "description": "A link that corresponds to the user review on Google Maps.",
            "type": "string"
          },
          "reviewId": {
            "description": "The ID of the review snippet.",
            "type": "string"
          },
          "title": {
            "type": "string",
            "description": "Title of the review."
          }
        },
        "description": "Encapsulates a snippet of a user review that answers a question about the features of a specific place in Google Maps."
      },
      "TransferOwnershipResponse": {
        "type": "object",
        "properties": {},
        "description": "Response from `TransferOwnership`."
      },
      "WhiteSpaceConfig": {
        "type": "object",
        "properties": {
          "maxTokensPerChunk": {
            "format": "int32",
            "description": "Maximum number of tokens per chunk. Tokens are defined as words for this chunking algorithm. Note: we are defining tokens as words split by whitespace as opposed to the output of a tokenizer. The context window of the latest gemini embedding model as of 2025-04-17 is currently 8192 tokens. We assume that the average word is 5 characters. Therefore, we set the upper limit to 2**9, which is 512 words, or 2560 tokens, assuming worst case a character per token. This is a conservative estimate meant to prevent context window overflow.",
            "type": "integer"
          },
          "maxOverlapTokens": {
            "description": "Maximum number of overlapping tokens between two adjacent chunks.",
            "format": "int32",
            "type": "integer"
          }
        },
        "description": "Configuration for a white space chunking algorithm [white space delimited]."
      },
      "VideoMetadata": {
        "description": "Deprecated: Use `GenerateContentRequest.processing_options` instead. Metadata describes the input video content.",
        "properties": {
          "endOffset": {
            "type": "string",
            "format": "google-duration",
            "description": "Optional. The end offset of the video."
          },
          "fps": {
            "type": "number",
            "description": "Optional. The frame rate of the video sent to the model. If not specified, the default value will be 1.0. The fps range is (0.0, 24.0].",
            "format": "double"
          },
          "startOffset": {
            "type": "string",
            "description": "Optional. The start offset of the video.",
            "format": "google-duration"
          }
        },
        "deprecated": true,
        "type": "object"
      },
      "GroundingChunkStringList": {
        "type": "object",
        "properties": {
          "values": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "The string values of the list."
          }
        },
        "description": "A list of string values."
      },
      "UrlContext": {
        "type": "object",
        "properties": {},
        "description": "Tool to support URL context retrieval."
      },
      "BatchStats": {
        "type": "object",
        "properties": {
          "failedRequestCount": {
            "type": "string",
            "format": "int64",
            "description": "Output only. The number of requests that failed to be processed.",
            "readOnly": true
          },
          "successfulRequestCount": {
            "format": "int64",
            "description": "Output only. The number of requests that were successfully processed.",
            "readOnly": true,
            "type": "string"
          },
          "requestCount": {
            "format": "int64",
            "description": "Output only. The number of requests in the batch.",
            "readOnly": true,
            "type": "string"
          },
          "pendingRequestCount": {
            "format": "int64",
            "description": "Output only. The number of requests that are still pending processing.",
            "readOnly": true,
            "type": "string"
          }
        },
        "description": "Stats about the batch."
      },
      "GoogleSearch": {
        "description": "GoogleSearch tool type. Tool to support Google Search in Model. Powered by Google.",
        "type": "object",
        "properties": {
          "timeRangeFilter": {
            "description": "Optional. Filter search results to a specific time range. If customers set a start time, they must set an end time (and vice versa).",
            "$ref": "#/components/schemas/Interval"
          },
          "searchTypes": {
            "$ref": "#/components/schemas/SearchTypes",
            "description": "Optional. The set of search types to enable. If not set, web search is enabled by default."
          }
        }
      },
      "CachedContentUsageMetadata": {
        "type": "object",
        "properties": {
          "totalTokenCount": {
            "type": "integer",
            "description": "Total number of tokens that the cached content consumes.",
            "format": "int32"
          }
        },
        "description": "Metadata on the usage of the cached content."
      },
      "SafetyRating": {
        "type": "object",
        "properties": {
          "blocked": {
            "type": "boolean",
            "description": "Was this content blocked because of this rating?"
          },
          "category": {
            "type": "string",
            "enum": [
              "HARM_CATEGORY_UNSPECIFIED",
              "HARM_CATEGORY_DEROGATORY",
              "HARM_CATEGORY_TOXICITY",
              "HARM_CATEGORY_VIOLENCE",
              "HARM_CATEGORY_SEXUAL",
              "HARM_CATEGORY_MEDICAL",
              "HARM_CATEGORY_DANGEROUS",
              "HARM_CATEGORY_HARASSMENT",
              "HARM_CATEGORY_HATE_SPEECH",
              "HARM_CATEGORY_SEXUALLY_EXPLICIT",
              "HARM_CATEGORY_DANGEROUS_CONTENT",
              "HARM_CATEGORY_CIVIC_INTEGRITY"
            ],
            "description": "Required. The category for this rating.",
            "enumDeprecated": [
              false,
              false,
              false,
              false,
              false,
              false,
              false,
              false,
              false,
              false,
              false,
              true
            ],
            "x-enum-descriptions": [
              "Category is unspecified.",
              "**PaLM** - Negative or harmful comments targeting identity and/or protected attribute.",
              "**PaLM** - Content that is rude, disrespectful, or profane.",
              "**PaLM** - Describes scenarios depicting violence against an individual or group, or general descriptions of gore.",
              "**PaLM** - Contains references to sexual acts or other lewd content.",
              "**PaLM** - Promotes unchecked medical advice.",
              "**PaLM** - Dangerous content that promotes, facilitates, or encourages harmful acts.",
              "**Gemini** - Harassment content.",
              "**Gemini** - Hate speech and content.",
              "**Gemini** - Sexually explicit content.",
              "**Gemini** - Dangerous content.",
              "**Gemini** - Content that may be used to harm civic integrity. DEPRECATED: use enable_enhanced_civic_answers instead."
            ]
          },
          "probability": {
            "enum": [
              "HARM_PROBABILITY_UNSPECIFIED",
              "NEGLIGIBLE",
              "LOW",
              "MEDIUM",
              "HIGH"
            ],
            "type": "string",
            "description": "Required. The probability of harm for this content.",
            "x-enum-descriptions": [
              "Probability is unspecified.",
              "Content has a negligible chance of being unsafe.",
              "Content has a low chance of being unsafe.",
              "Content has a medium chance of being unsafe.",
              "Content has a high chance of being unsafe."
            ]
          }
        },
        "description": "Safety rating for a piece of content. The safety rating contains the category of harm and the harm probability level in that category for a piece of content. Content is classified for safety across a number of harm categories and the probability of the harm classification is included here."
      },
      "Operation": {
        "description": "This resource represents a long-running operation that is the result of a network API call.",
        "type": "object",
        "properties": {
          "metadata": {
            "type": "object",
            "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any.",
            "additionalProperties": {
              "description": "Properties of the object. Contains field @type with type URL."
            }
          },
          "name": {
            "type": "string",
            "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`."
          },
          "done": {
            "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available.",
            "type": "boolean"
          },
          "error": {
            "$ref": "#/components/schemas/Status",
            "description": "The error result of the operation in case of failure or cancellation."
[...]
