{
  "openapi": "3.0.3",
  "info": {
    "title": "Gemini API",
    "description": "The Gemini API allows developers to build generative AI applications using Gemini models. Gemini is our most capable model, built from the ground up to be multimodal. It can generalize and seamlessly understand, operate across, and combine different types of information including language, images, audio, video, and code. You can use the Gemini API for use cases like reasoning across text and images, content generation, dialogue agents, summarization and classification systems, and more.",
    "version": "v1beta"
  },
  "servers": [
    {
      "url": "https://generativelanguage.googleapis.com/v1beta"
    }
  ],
  "paths": {
    "/files/{filesId}": {
      "get": {
        "description": "Gets the metadata for the given `File`.",
        "operationId": "files.get",
        "parameters": [
          {
            "name": "filesId",
            "in": "path",
            "required": true,
            "description": "Required. The name of the `File` to get. Example: `files/abc-123`",
            "schema": {
              "type": "string",
              "pattern": "^files/[^/]+$"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/File"
                }
              }
            }
          }
        }
      },
      "delete": {
        "description": "Deletes the `File`.",
        "operationId": "files.delete",
        "parameters": [
          {
            "name": "filesId",
            "in": "path",
            "required": true,
            "description": "Required. The name of the `File` to delete. Example: `files/abc-123`",
            "schema": {
              "type": "string",
              "pattern": "^files/[^/]+$"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Empty"
                }
              }
            }
          }
        }
      }
    },
    "/files": {
      "get": {
        "description": "Lists the metadata for `File`s owned by the requesting project.",
        "operationId": "files.list",
        "parameters": [
          {
            "name": "pageSize",
            "in": "query",
            "description": "Optional. Maximum number of `File`s to return per page. If unspecified, defaults to 10. Maximum `page_size` is 100.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "pageToken",
            "in": "query",
            "description": "Optional. A page token from a previous `ListFiles` call.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListFilesResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "description": "Creates a `File`.",
        "operationId": "media.upload",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateFileRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateFileResponse"
                }
              }
            }
          }
        }
      }
    },
    "/files:register": {
      "post": {
        "description": "Registers a Google Cloud Storage files with FileService. The user is expected to provide Google Cloud Storage URIs and will receive a File resource for each URI in return. Note that the files are not copied, just registered with File API. If one file fails to register, the whole request fails.",
        "operationId": "files.register",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RegisterFilesRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RegisterFilesResponse"
                }
              }
            }
          }
        }
      }
    },
    "/tunedModels/{tunedModelsId}:generateContent": {
      "post": {
        "description": "Generates a model response given an input `GenerateContentRequest`. Refer to the [text generation guide](https://ai.google.dev/gemini-api/docs/text-generation) for detailed usage information. Input capabilities differ between models, including tuned models. Refer to the [model guide](https://ai.google.dev/gemini-api/docs/models/gemini) and [tuning guide](https://ai.google.dev/gemini-api/docs/model-tuning) for details.",
        "operationId": "tunedModels.generateContent",
        "parameters": [
          {
            "name": "tunedModelsId",
            "in": "path",
            "required": true,
            "description": "Required. The name of the `Model` to use for generating the completion. Format: `models/{model}`.",
            "schema": {
              "type": "string",
              "pattern": "^tunedModels/[^/]+$"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GenerateContentRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenerateContentResponse"
                }
              }
            }
          }
        }
      }
    },
    "/tunedModels/{tunedModelsId}:asyncBatchEmbedContent": {
      "post": {
        "description": "Enqueues a batch of `EmbedContent` requests for batch processing. We have a `BatchEmbedContents` handler in `GenerativeService`, but it was synchronized. So we name this one to be `Async` to avoid confusion.",
        "operationId": "tunedModels.asyncBatchEmbedContent",
        "parameters": [
          {
            "name": "tunedModelsId",
            "in": "path",
            "required": true,
            "description": "Required. The name of the `Model` to use for generating the completion. Format: `models/{model}`.",
            "schema": {
              "type": "string",
              "pattern": "^tunedModels/[^/]+$"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AsyncBatchEmbedContentRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Operation"
                }
              }
            }
          }
        }
      }
    },
    "/tunedModels/{tunedModelsId}:transferOwnership": {
      "post": {
        "description": "Transfers ownership of the tuned model. This is the only way to change ownership of the tuned model. The current owner will be downgraded to writer role.",
        "operationId": "tunedModels.transferOwnership",
        "parameters": [
          {
            "name": "tunedModelsId",
            "in": "path",
            "required": true,
            "description": "Required. The resource name of the tuned model to transfer ownership. Format: `tunedModels/my-model-id`",
            "schema": {
              "type": "string",
              "pattern": "^tunedModels/[^/]+$"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TransferOwnershipRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TransferOwnershipResponse"
                }
              }
            }
          }
        }
      }
    },
    "/tunedModels": {
      "get": {
        "description": "Lists created tuned models.",
        "operationId": "tunedModels.list",
        "parameters": [
          {
            "name": "filter",
            "in": "query",
            "description": "Optional. A filter is a full text search over the tuned model's description and display name. By default, results will not include tuned models shared with everyone. Additional operators: - owner:me - writers:me - readers:me - readers:everyone Examples: \"owner:me\" returns all tuned models to which caller has owner role \"readers:me\" returns all tuned models to which caller has reader role \"readers:everyone\" returns all tuned models that are shared with everyone",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "Optional. The maximum number of `TunedModels` to return (per page). The service may return fewer tuned models. If unspecified, at most 10 tuned models will be returned. This method returns at most 1000 models per page, even if you pass a larger page_size.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "pageToken",
            "in": "query",
            "description": "Optional. A page token, received from a previous `ListTunedModels` call. Provide the `page_token` returned by one request as an argument to the next request to retrieve the next page. When paginating, all other parameters provided to `ListTunedModels` must match the call that provided the page token.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListTunedModelsResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "description": "Creates a tuned model. Check intermediate tuning progress (if any) through the [google.longrunning.Operations] service. Access status and results through the Operations service. Example: GET /v1/tunedModels/az2mb0bpw6i/operations/000-111-222",
        "operationId": "tunedModels.create",
        "parameters": [
          {
            "name": "tunedModelId",
            "in": "query",
            "description": "Optional. The unique id for the tuned model if specified. This value should be up to 40 characters, the first character must be a letter, the last could be a letter or a number. The id must match the regular expression: `[a-z]([a-z0-9-]{0,38}[a-z0-9])?`.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TunedModel"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Operation"
                }
              }
            }
          }
        }
      }
    },
    "/tunedModels/{tunedModelsId}": {
      "delete": {
        "description": "Deletes a tuned model.",
        "operationId": "tunedModels.delete",
        "parameters": [
          {
            "name": "tunedModelsId",
            "in": "path",
            "required": true,
            "description": "Required. The resource name of the model. Format: `tunedModels/my-model-id`",
            "schema": {
              "type": "string",
              "pattern": "^tunedModels/[^/]+$"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Empty"
                }
              }
            }
          }
        }
      },
      "patch": {
        "description": "Updates a tuned model.",
        "operationId": "tunedModels.patch",
        "parameters": [
          {
            "name": "tunedModelsId",
            "in": "path",
            "required": true,
            "description": "Output only. The tuned model name. A unique name will be generated on create. Example: `tunedModels/az2mb0bpw6i` If display_name is set on create, the id portion of the name will be set by concatenating the words of the display_name with hyphens and adding a random portion for uniqueness. Example: * display_name = `Sentence Translator` * name = `tunedModels/sentence-translator-u3b7m`",
            "schema": {
              "type": "string",
              "pattern": "^tunedModels/[^/]+$"
            }
          },
          {
            "name": "updateMask",
            "in": "query",
            "description": "Optional. The list of fields to update.",
            "schema": {
              "type": "string",
              "format": "google-fieldmask"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TunedModel"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TunedModel"
                }
              }
            }
          }
        }
      },
      "get": {
        "description": "Gets information about a specific TunedModel.",
        "operationId": "tunedModels.get",
        "parameters": [
          {
            "name": "tunedModelsId",
            "in": "path",
            "required": true,
            "description": "Required. The resource name of the model. Format: `tunedModels/my-model-id`",
            "schema": {
              "type": "string",
              "pattern": "^tunedModels/[^/]+$"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TunedModel"
                }
              }
            }
          }
        }
      }
    },
    "/tunedModels/{tunedModelsId}:batchGenerateContent": {
      "post": {
        "description": "Enqueues a batch of `GenerateContent` requests for batch processing.",
        "operationId": "tunedModels.batchGenerateContent",
        "parameters": [
          {
            "name": "tunedModelsId",
            "in": "path",
            "required": true,
            "description": "Required. The name of the `Model` to use for generating the completion. Format: `models/{model}`.",
            "schema": {
              "type": "string",
              "pattern": "^tunedModels/[^/]+$"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BatchGenerateContentRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Operation"
                }
              }
            }
          }
        }
      }
    },
    "/tunedModels/{tunedModelsId}:streamGenerateContent": {
      "post": {
        "description": "Generates a [streamed response](https://ai.google.dev/gemini-api/docs/text-generation?lang=python#generate-a-text-stream) from the model given an input `GenerateContentRequest`.",
        "operationId": "tunedModels.streamGenerateContent",
        "parameters": [
          {
            "name": "tunedModelsId",
            "in": "path",
            "required": true,
            "description": "Required. The name of the `Model` to use for generating the completion. Format: `models/{model}`.",
            "schema": {
              "type": "string",
              "pattern": "^tunedModels/[^/]+$"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GenerateContentRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenerateContentResponse"
                }
              },
              "text/event-stream": {
                "schema": {
                  "$ref": "#/components/schemas/GenerateContentResponse"
                }
              }
            }
          }
        }
      }
    },
    "/tunedModels/{tunedModelsId}/operations/{operationsId}": {
      "get": {
        "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
        "operationId": "tunedModels.operations.get",
        "parameters": [
          {
            "name": "tunedModelsId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "operationsId",
            "in": "path",
            "required": true,
            "description": "The name of the operation resource.",
            "schema": {
              "type": "string",
              "pattern": "^tunedModels/[^/]+/operations/[^/]+$"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Operation"
                }
              }
            }
          }
        }
      }
    },
    "/tunedModels/{tunedModelsId}/operations": {
      "get": {
        "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`.",
        "operationId": "tunedModels.operations.list",
        "parameters": [
          {
            "name": "filter",
            "in": "query",
            "description": "The standard list filter.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "tunedModelsId",
            "in": "path",
            "required": true,
            "description": "The name of the operation's parent resource.",
            "schema": {
              "type": "string",
              "pattern": "^tunedModels/[^/]+$"
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "The standard list page size.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "pageToken",
            "in": "query",
            "description": "The standard list page token.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "returnPartialSuccess",
            "in": "query",
            "description": "When set to `true`, operations that are reachable are returned as normal, and those that are unreachable are returned in the ListOperationsResponse.unreachable field. This can only be `true` when reading across collections. For example, when `parent` is set to `\"projects/example/locations/-\"`. This field is not supported by default and will result in an `UNIMPLEMENTED` error if set unless explicitly documented otherwise in service or product specific documentation.",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListOperationsResponse"
                }
              }
            }
          }
        }
      }
    },
    "/tunedModels/{tunedModelsId}/permissions": {
      "post": {
        "description": "Create a permission to a specific resource.",
        "operationId": "tunedModels.permissions.create",
        "parameters": [
          {
            "name": "tunedModelsId",
            "in": "path",
            "required": true,
            "description": "Required. The parent resource of the `Permission`. Formats: `tunedModels/{tuned_model}` `corpora/{corpus}`",
            "schema": {
              "type": "string",
              "pattern": "^tunedModels/[^/]+$"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Permission"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Permission"
                }
              }
            }
          }
        }
      },
      "get": {
        "description": "Lists permissions for the specific resource.",
        "operationId": "tunedModels.permissions.list",
        "parameters": [
          {
            "name": "pageSize",
            "in": "query",
            "description": "Optional. The maximum number of `Permission`s to return (per page). The service may return fewer permissions. If unspecified, at most 10 permissions will be returned. This method returns at most 1000 permissions per page, even if you pass larger page_size.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "pageToken",
            "in": "query",
            "description": "Optional. A page token, received from a previous `ListPermissions` call. Provide the `page_token` returned by one request as an argument to the next request to retrieve the next page. When paginating, all other parameters provided to `ListPermissions` must match the call that provided the page token.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "tunedModelsId",
            "in": "path",
            "required": true,
            "description": "Required. The parent resource of the permissions. Formats: `tunedModels/{tuned_model}` `corpora/{corpus}`",
            "schema": {
              "type": "string",
              "pattern": "^tunedModels/[^/]+$"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListPermissionsResponse"
                }
              }
            }
          }
        }
      }
    },
    "/tunedModels/{tunedModelsId}/permissions/{permissionsId}": {
      "delete": {
        "description": "Deletes the permission.",
        "operationId": "tunedModels.permissions.delete",
        "parameters": [
          {
            "name": "tunedModelsId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "permissionsId",
            "in": "path",
            "required": true,
            "description": "Required. The resource name of the permission. Formats: `tunedModels/{tuned_model}/permissions/{permission}` `corpora/{corpus}/permissions/{permission}`",
            "schema": {
              "type": "string",
              "pattern": "^tunedModels/[^/]+/permissions/[^/]+$"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Empty"
                }
              }
            }
          }
        }
      },
      "get": {
        "description": "Gets information about a specific Permission.",
        "operationId": "tunedModels.permissions.get",
        "parameters": [
          {
            "name": "tunedModelsId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "permissionsId",
            "in": "path",
            "required": true,
            "description": "Required. The resource name of the permission. Formats: `tunedModels/{tuned_model}/permissions/{permission}` `corpora/{corpus}/permissions/{permission}`",
            "schema": {
              "type": "string",
              "pattern": "^tunedModels/[^/]+/permissions/[^/]+$"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Permission"
                }
              }
            }
          }
        }
      },
      "patch": {
        "description": "Updates the permission.",
        "operationId": "tunedModels.permissions.patch",
        "parameters": [
          {
            "name": "tunedModelsId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "permissionsId",
            "in": "path",
            "required": true,
            "description": "Output only. Identifier. The permission name. A unique name will be generated on create. Examples: tunedModels/{tuned_model}/permissions/{permission} corpora/{corpus}/permissions/{permission} Output only.",
            "schema": {
              "type": "string",
              "pattern": "^tunedModels/[^/]+/permissions/[^/]+$"
            }
          },
          {
            "name": "updateMask",
            "in": "query",
            "description": "Required. The list of fields to update. Accepted ones: - role (`Permission.role` field)",
            "schema": {
              "type": "string",
              "format": "google-fieldmask"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Permission"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Permission"
                }
              }
            }
          }
        }
      }
    },
    "/fileSearchStores/{fileSearchStoresId}": {
      "get": {
        "description": "Gets information about a specific `FileSearchStore`.",
        "operationId": "fileSearchStores.get",
        "parameters": [
          {
            "name": "fileSearchStoresId",
            "in": "path",
            "required": true,
            "description": "Required. The name of the `FileSearchStore`. Example: `fileSearchStores/my-file-search-store-123`",
            "schema": {
              "type": "string",
              "pattern": "^fileSearchStores/[^/]+$"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FileSearchStore"
                }
              }
            }
          }
        }
      },
      "delete": {
        "description": "Deletes a `FileSearchStore`.",
        "operationId": "fileSearchStores.delete",
        "parameters": [
          {
            "name": "force",
            "in": "query",
            "description": "Optional. If set to true, any `Document`s and objects related to this `FileSearchStore` will also be deleted. If false (the default), a `FAILED_PRECONDITION` error will be returned if `FileSearchStore` contains any `Document`s.",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "fileSearchStoresId",
            "in": "path",
            "required": true,
            "description": "Required. The resource name of the `FileSearchStore`. Example: `fileSearchStores/my-file-search-store-123`",
            "schema": {
              "type": "string",
              "pattern": "^fileSearchStores/[^/]+$"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Empty"
                }
              }
            }
          }
        }
      }
    },
    "/fileSearchStores/{fileSearchStoresId}:importFile": {
      "post": {
        "description": "Imports a `File` from File Service to a `FileSearchStore`.",
        "operationId": "fileSearchStores.importFile",
        "parameters": [
          {
            "name": "fileSearchStoresId",
            "in": "path",
            "required": true,
            "description": "Required. Immutable. The name of the `FileSearchStore` to import the file into. Example: `fileSearchStores/my-file-search-store-123`",
            "schema": {
              "type": "string",
              "pattern": "^fileSearchStores/[^/]+$"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ImportFileRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Operation"
                }
              }
            }
          }
        }
      }
    },
    "/fileSearchStores": {
      "get": {
        "description": "Lists all `FileSearchStores` owned by the user.",
        "operationId": "fileSearchStores.list",
        "parameters": [
          {
            "name": "pageSize",
            "in": "query",
            "description": "Optional. The maximum number of `FileSearchStores` to return (per page). The service may return fewer `FileSearchStores`. If unspecified, at most 10 `FileSearchStores` will be returned. The maximum size limit is 20 `FileSearchStores` per page.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "pageToken",
            "in": "query",
            "description": "Optional. A page token, received from a previous `ListFileSearchStores` call. Provide the `next_page_token` returned in the response as an argument to the next request to retrieve the next page. When paginating, all other parameters provided to `ListFileSearchStores` must match the call that provided the page token.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListFileSearchStoresResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "description": "Creates an empty `FileSearchStore`.",
        "operationId": "fileSearchStores.create",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FileSearchStore"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FileSearchStore"
                }
              }
            }
          }
        }
      }
    },
    "/fileSearchStores/{fileSearchStoresId}/upload/operations/{operationsId}": {
      "get": {
        "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
        "operationId": "fileSearchStores.upload.operations.get",
        "parameters": [
          {
            "name": "operationsId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fileSearchStoresId",
            "in": "path",
            "required": true,
            "description": "The name of the operation resource.",
            "schema": {
              "type": "string",
              "pattern": "^fileSearchStores/[^/]+/upload/operations/[^/]+$"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Operation"
                }
              }
            }
          }
        }
      }
    },
    "/fileSearchStores/{fileSearchStoresId}/operations/{operationsId}": {
      "get": {
        "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
        "operationId": "fileSearchStores.operations.get",
        "parameters": [
          {
            "name": "operationsId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fileSearchStoresId",
            "in": "path",
            "required": true,
            "description": "The name of the operation resource.",
            "schema": {
              "type": "string",
              "pattern": "^fileSearchStores/[^/]+/operations/[^/]+$"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Operation"
                }
              }
            }
          }
        }
      }
    },
    "/fileSearchStores/{fileSearchStoresId}/documents/{documentsId}": {
      "delete": {
        "description": "Deletes a `Document`.",
        "operationId": "fileSearchStores.documents.delete",
        "parameters": [
          {
            "name": "fileSearchStoresId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "force",
            "in": "query",
            "description": "Optional. If set to true, any `Chunk`s and objects related to this `Document` will also be deleted. If false (the default), a `FAILED_PRECONDITION` error will be returned if `Document` contains any `Chunk`s.",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "documentsId",
            "in": "path",
            "required": true,
            "description": "Required. The resource name of the `Document` to delete. Example: `fileSearchStores/my-file-search-store-123/documents/the-doc-abc`",
            "schema": {
              "type": "string",
              "pattern": "^fileSearchStores/[^/]+/documents/[^/]+$"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Empty"
                }
              }
            }
          }
        }
      },
      "get": {
        "description": "Gets information about a specific `Document`.",
        "operationId": "fileSearchStores.documents.get",
        "parameters": [
          {
            "name": "fileSearchStoresId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "documentsId",
            "in": "path",
            "required": true,
            "description": "Required. The name of the `Document` to retrieve. Example: `fileSearchStores/my-file-search-store-123/documents/the-doc-abc`",
            "schema": {
              "type": "string",
              "pattern": "^fileSearchStores/[^/]+/documents/[^/]+$"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Document"
                }
              }
            }
          }
        }
      }
    },
    "/fileSearchStores/{fileSearchStoresId}/documents": {
      "get": {
        "description": "Lists all `Document`s in a `Corpus`.",
        "operationId": "fileSearchStores.documents.list",
        "parameters": [
          {
            "name": "pageSize",
            "in": "query",
            "description": "Optional. The maximum number of `Document`s to return (per page). The service may return fewer `Document`s. If unspecified, at most 10 `Document`s will be returned. The maximum size limit is 20 `Document`s per page.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "pageToken",
            "in": "query",
            "description": "Optional. A page token, received from a previous `ListDocuments` call. Provide the `next_page_token` returned in the response as an argument to the next request to retrieve the next page. When paginating, all other parameters provided to `ListDocuments` must match the call that provided the page token.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fileSearchStoresId",
            "in": "path",
            "required": true,
            "description": "Required. The name of the `FileSearchStore` containing `Document`s. Example: `fileSearchStores/my-file-search-store-123`",
            "schema": {
              "type": "string",
              "pattern": "^fileSearchStores/[^/]+$"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListDocumentsResponse"
                }
              }
            }
          }
        }
      }
    },
    "/models/{modelsId}:embedContent": {
      "post": {
        "description": "Generates a text embedding vector from the input `Content` using the specified [Gemini Embedding model](https://ai.google.dev/gemini-api/docs/models/gemini#text-embedding).",
        "operationId": "models.embedContent",
        "parameters": [
          {
            "name": "modelsId",
            "in": "path",
            "required": true,
            "description": "Required. The model's resource name. This serves as an ID for the Model to use. This name should match a model name returned by the `ListModels` method. Format: `models/{model}`",
            "schema": {
              "type": "string",
              "pattern": "^models/[^/]+$"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EmbedContentRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EmbedContentResponse"
                }
              }
            }
          }
        }
      }
    },
    "/models/{modelsId}:streamGenerateContent": {
      "post": {
        "description": "Generates a [streamed response](https://ai.google.dev/gemini-api/docs/text-generation?lang=python#generate-a-text-stream) from the model given an input `GenerateContentRequest`.",
        "operationId": "models.streamGenerateContent",
        "parameters": [
          {
            "name": "modelsId",
            "in": "path",
            "required": true,
            "description": "Required. The name of the `Model` to use for generating the completion. Format: `models/{model}`.",
            "schema": {
              "type": "string",
              "pattern": "^models/[^/]+$"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GenerateContentRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenerateContentResponse"
                }
              },
              "text/event-stream": {
                "schema": {
                  "$ref": "#/components/schemas/GenerateContentResponse"
                }
              }
            }
          }
        }
      }
    },
    "/models/{modelsId}:asyncBatchEmbedContent": {
      "post": {
        "description": "Enqueues a batch of `EmbedContent` requests for batch processing. We have a `BatchEmbedContents` handler in `GenerativeService`, but it was synchronized. So we name this one to be `Async` to avoid confusion.",
        "operationId": "models.asyncBatchEmbedContent",
        "parameters": [
          {
            "name": "modelsId",
            "in": "path",
            "required": true,
            "description": "Required. The name of the `Model` to use for generating the completion. Format: `models/{model}`.",
            "schema": {
              "type": "string",
              "pattern": "^models/[^/]+$"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AsyncBatchEmbedContentRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Operation"
                }
              }
            }
          }
        }
      }
    },
    "/models/{modelsId}:generateContent": {
      "post": {
        "description": "Generates a model response given an input `GenerateContentRequest`. Refer to the [text generation guide](https://ai.google.dev/gemini-api/docs/text-generation) for detailed usage information. Input capabilities differ between models, including tuned models. Refer to the [model guide](https://ai.google.dev/gemini-api/docs/models/gemini) and [tuning guide](https://ai.google.dev/gemini-api/docs/model-tuning) for details.",
        "operationId": "models.generateContent",
        "parameters": [
          {
            "name": "modelsId",
            "in": "path",
            "required": true,
            "description": "Required. The name of the `Model` to use for generating the completion. Format: `models/{model}`.",
            "schema": {
              "type": "string",
              "pattern": "^models/[^/]+$"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GenerateContentRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenerateContentResponse"
                }
              }
            }
          }
        }
      }
    },
    "/models/{modelsId}:batchEmbedContents": {
      "post": {
        "description": "Generates multiple embedding vectors from the input `Content` which consists of a batch of strings represented as `EmbedContentRequest` objects.",
        "operationId": "models.batchEmbedContents",
        "parameters": [
          {
            "name": "modelsId",
            "in": "path",
            "required": true,
            "description": "Required. The model's resource name. This serves as an ID for the Model to use. This name should match a model name returned by the `ListModels` method. Format: `models/{model}`",
            "schema": {
              "type": "string",
              "pattern": "^models/[^/]+$"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BatchEmbedContentsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BatchEmbedContentsResponse"
                }
              }
            }
          }
        }
      }
    },
    "/models": {
      "get": {
        "description": "Lists the [`Model`s](https://ai.google.dev/gemini-api/docs/models/gemini) available through the Gemini API.",
        "operationId": "models.list",
        "parameters": [
          {
            "name": "pageSize",
            "in": "query",
            "description": "The maximum number of `Models` to return (per page). If unspecified, 50 models will be returned per page. This method returns at most 1000 models per page, even if you pass a larger page_size.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "pageToken",
            "in": "query",
            "description": "A page token, received from a previous `ListModels` call. Provide the `page_token` returned by one request as an argument to the next request to retrieve the next page. When paginating, all other parameters provided to `ListModels` must match the call that provided the page token.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListModelsResponse"
                }
              }
            }
          }
        }
      }
    },
    "/models/{modelsId}:batchGenerateContent": {
      "post": {
        "description": "Enqueues a batch of `GenerateContent` requests for batch processing.",
        "operationId": "models.batchGenerateContent",
        "parameters": [
          {
            "name": "modelsId",
            "in": "path",
            "required": true,
            "description": "Required. The name of the `Model` to use for generating the completion. Format: `models/{model}`.",
            "schema": {
              "type": "string",
              "pattern": "^models/[^/]+$"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BatchGenerateContentRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Operation"
                }
              }
            }
          }
        }
      }
    },
    "/models/{modelsId}": {
      "get": {
        "description": "Gets information about a specific `Model` such as its version number, token limits, [parameters](https://ai.google.dev/gemini-api/docs/models/generative-models#model-parameters) and other metadata. Refer to the [Gemini models guide](https://ai.google.dev/gemini-api/docs/models/gemini) for detailed model information.",
        "operationId": "models.get",
        "parameters": [
          {
            "name": "modelsId",
            "in": "path",
            "required": true,
            "description": "Required. The resource name of the model. This name should match a model name returned by the `ListModels` method. Format: `models/{model}`",
            "schema": {
              "type": "string",
              "pattern": "^models/[^/]+$"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Model"
                }
              }
            }
          }
        }
      }
    },
    "/models/{modelsId}:countTokens": {
      "post": {
        "description": "Runs a model's tokenizer on input `Content` and returns the token count. Refer to the [tokens guide](https://ai.google.dev/gemini-api/docs/tokens) to learn more about tokens.",
        "operationId": "models.countTokens",
        "parameters": [
          {
            "name": "modelsId",
            "in": "path",
            "required": true,
            "description": "Required. The model's resource name. This serves as an ID for the Model to use. This name should match a model name returned by the `ListModels` method. Format: `models/{model}`",
            "schema": {
              "type": "string",
              "pattern": "^models/[^/]+$"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CountTokensRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CountTokensResponse"
                }
              }
            }
          }
        }
      }
    },
    "/models/{modelsId}/operations": {
      "get": {
        "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`.",
        "operationId": "models.operations.list",
        "parameters": [
          {
            "name": "filter",
            "in": "query",
            "description": "The standard list filter.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "modelsId",
            "in": "path",
            "required": true,
            "description": "The name of the operation's parent resource.",
            "schema": {
              "type": "string",
              "pattern": "^models/[^/]+$"
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "The standard list page size.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "pageToken",
            "in": "query",
            "description": "The standard list page token.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "returnPartialSuccess",
            "in": "query",
            "description": "When set to `true`, operations that are reachable are returned as normal, and those that are unreachable are returned in the ListOperationsResponse.unreachable field. This can only be `true` when reading across collections. For example, when `parent` is set to `\"projects/example/locations/-\"`. This field is not supported by default and will result in an `UNIMPLEMENTED` error if set unless explicitly documented otherwise in service or product specific documentation.",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListOperationsResponse"
                }
              }
            }
          }
        }
      }
    },
    "/models/{modelsId}/operations/{operationsId}": {
      "get": {
        "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
        "operationId": "models.operations.get",
        "parameters": [
          {
            "name": "operationsId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "modelsId",
            "in": "path",
            "required": true,
            "description": "The name of the operation resource.",
            "schema": {
              "type": "string",
              "pattern": "^models/[^/]+/operations/[^/]+$"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Operation"
                }
              }
            }
          }
        }
      }
    },
    "/dynamic/{dynamicId}:generateContent": {
      "post": {
        "description": "Generates a model response given an input `GenerateContentRequest`. Refer to the [text generation guide](https://ai.google.dev/gemini-api/docs/text-generation) for detailed usage information. Input capabilities differ between models, including tuned models. Refer to the [model guide](https://ai.google.dev/gemini-api/docs/models/gemini) and [tuning guide](https://ai.google.dev/gemini-api/docs/model-tuning) for details.",
        "operationId": "dynamic.generateContent",
        "parameters": [
          {
            "name": "dynamicId",
            "in": "path",
            "required": true,
            "description": "Required. The name of the `Model` to use for generating the completion. Format: `models/{model}`.",
            "schema": {
              "type": "string",
              "pattern": "^dynamic/[^/]+$"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GenerateContentRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenerateContentResponse"
                }
              }
            }
          }
        }
      }
    },
    "/dynamic/{dynamicId}:streamGenerateContent": {
      "post": {
        "description": "Generates a [streamed response](https://ai.google.dev/gemini-api/docs/text-generation?lang=python#generate-a-text-stream) from the model given an input `GenerateContentRequest`.",
        "operationId": "dynamic.streamGenerateContent",
        "parameters": [
          {
            "name": "dynamicId",
            "in": "path",
            "required": true,
            "description": "Required. The name of the `Model` to use for generating the completion. Format: `models/{model}`.",
            "schema": {
              "type": "string",
              "pattern": "^dynamic/[^/]+$"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GenerateContentRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenerateContentResponse"
                }
              },
              "text/event-stream": {
                "schema": {
                  "$ref": "#/components/schemas/GenerateContentResponse"
                }
              }
            }
          }
        }
      }
    },
    "/corpora": {
      "post": {
        "description": "Creates an empty `Corpus`.",
        "operationId": "corpora.create",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Corpus"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Corpus"
                }
              }
            }
          }
        }
      },
      "get": {
        "description": "Lists all `Corpora` owned by the user.",
        "operationId": "corpora.list",
        "parameters": [
          {
            "name": "pageSize",
            "in": "query",
            "description": "Optional. The maximum number of `Corpora` to return (per page). The service may return fewer `Corpora`. If unspecified, at most 10 `Corpora` will be returned. The maximum size limit is 20 `Corpora` per page.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "pageToken",
            "in": "query",
            "description": "Optional. A page token, received from a previous `ListCorpora` call. Provide the `next_page_token` returned in the response as an argument to the next request to retrieve the next page. When paginating, all other parameters provided to `ListCorpora` must match the call that provided the page token.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListCorporaResponse"
                }
              }
            }
          }
        }
      }
    },
    "/corpora/{corporaId}": {
      "get": {
        "description": "Gets information about a specific `Corpus`.",
        "operationId": "corpora.get",
        "parameters": [
          {
            "name": "corporaId",
            "in": "path",
            "required": true,
            "description": "Required. The name of the `Corpus`. Example: `corpora/my-corpus-123`",
            "schema": {
              "type": "string",
              "pattern": "^corpora/[^/]+$"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Corpus"
                }
              }
            }
          }
        }
      },
      "delete": {
        "description": "Deletes a `Corpus`.",
        "operationId": "corpora.delete",
        "parameters": [
          {
            "name": "force",
            "in": "query",
            "description": "Optional. If set to true, any `Document`s and objects related to this `Corpus` will also be deleted. If false (the default), a `FAILED_PRECONDITION` error will be returned if `Corpus` contains any `Document`s.",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "corporaId",
            "in": "path",
            "required": true,
            "description": "Required. The resource name of the `Corpus`. Example: `corpora/my-corpus-123`",
            "schema": {
              "type": "string",
              "pattern": "^corpora/[^/]+$"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Empty"
                }
              }
            }
          }
        }
      }
    },
    "/corpora/{corporaId}/operations/{operationsId}": {
      "get": {
        "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
        "operationId": "corpora.operations.get",
        "parameters": [
          {
            "name": "operationsId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "corporaId",
            "in": "path",
            "required": true,
            "description": "The name of the operation resource.",
            "schema": {
              "type": "string",
              "pattern": "^corpora/[^/]+/operations/[^/]+$"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Operation"
                }
              }
            }
          }
        }
      }
    },
    "/corpora/{corporaId}/permissions/{permissionsId}": {
      "patch": {
        "description": "Updates the permission.",
        "operationId": "corpora.permissions.patch",
        "parameters": [
          {
            "name": "permissionsId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "corporaId",
            "in": "path",
            "required": true,
            "description": "Output only. Identifier. The permission name. A unique name will be generated on create. Examples: tunedModels/{tuned_model}/permissions/{permission} corpora/{corpus}/permissions/{permission} Output only.",
            "schema": {
              "type": "string",
              "pattern": "^corpora/[^/]+/permissions/[^/]+$"
            }
          },
          {
            "name": "updateMask",
            "in": "query",
            "description": "Required. The list of fields to update. Accepted ones: - role (`Permission.role` field)",
            "schema": {
              "type": "string",
              "format": "google-fieldmask"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Permission"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Permission"
                }
              }
            }
          }
        }
      },
      "get": {
        "description": "Gets information about a specific Permission.",
        "operationId": "corpora.permissions.get",
        "parameters": [
          {
            "name": "permissionsId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "corporaId",
            "in": "path",
            "required": true,
            "description": "Required. The resource name of the permission. Formats: `tunedModels/{tuned_model}/permissions/{permission}` `corpora/{corpus}/permissions/{permission}`",
            "schema": {
              "type": "string",
              "pattern": "^corpora/[^/]+/permissions/[^/]+$"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Permission"
                }
              }
            }
          }
        }
      },
      "delete": {
        "description": "Deletes the permission.",
        "operationId": "corpora.permissions.delete",
        "parameters": [
          {
            "name": "permissionsId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "corporaId",
            "in": "path",
            "required": true,
            "description": "Required. The resource name of the permission. Formats: `tunedModels/{tuned_model}/permissions/{permission}` `corpora/{corpus}/permissions/{permission}`",
            "schema": {
              "type": "string",
              "pattern": "^corpora/[^/]+/permissions/[^/]+$"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Empty"
                }
              }
            }
          }
        }
      }
    },
    "/corpora/{corporaId}/permissions": {
      "post": {
        "description": "Create a permission to a specific resource.",
        "operationId": "corpora.permissions.create",
        "parameters": [
          {
            "name": "corporaId",
            "in": "path",
            "required": true,
            "description": "Required. The parent resource of the `Permission`. Formats: `tunedModels/{tuned_model}` `corpora/{corpus}`",
            "schema": {
              "type": "string",
              "pattern": "^corpora/[^/]+$"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Permission"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Permission"
                }
              }
            }
          }
        }
      },
      "get": {
        "description": "Lists permissions for the specific resource.",
        "operationId": "corpora.permissions.list",
        "parameters": [
          {
            "name": "pageSize",
            "in": "query",
            "description": "Optional. The maximum number of `Permission`s to return (per page). The service may return fewer permissions. If unspecified, at most 10 permissions will be returned. This method returns at most 1000 permissions per page, even if you pass larger page_size.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "pageToken",
            "in": "query",
            "description": "Optional. A page token, received from a previous `ListPermissions` call. Provide the `page_token` returned by one request as an argument to the next request to retrieve the next page. When paginating, all other parameters provided to `ListPermissions` must match the call that provided the page token.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "corporaId",
            "in": "path",
            "required": true,
            "description": "Required. The parent resource of the permissions. Formats: `tunedModels/{tuned_model}` `corpora/{corpus}`",
            "schema": {
              "type": "string",
              "pattern": "^corpora/[^/]+$"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListPermissionsResponse"
                }
              }
            }
          }
        }
      }
    },
    "/fileSearchStores/{fileSearchStoresId}:uploadToFileSearchStore": {
      "post": {
        "description": "Uploads data to a FileSearchStore, preprocesses and chunks before storing it in a FileSearchStore Document.",
        "operationId": "media.uploadToFileSearchStore",
        "parameters": [
          {
            "name": "fileSearchStoresId",
            "in": "path",
            "required": true,
            "description": "Required. Immutable. The name of the `FileSearchStore` to upload the file into. Example: `fileSearchStores/my-file-search-store-123`",
            "schema": {
              "type": "string",
              "pattern": "^fileSearchStores/[^/]+$"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UploadToFileSearchStoreRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomLongRunningOperation"
                }
              }
            }
          }
        }
      }
    },
    "/batches/{batchesId}": {
      "get": {
        "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
        "operationId": "batches.get",
        "parameters": [
          {
            "name": "batchesId",
            "in": "path",
            "required": true,
            "description": "The name of the operation resource.",
            "schema": {
              "type": "string",
              "pattern": "^batches/[^/]+$"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Operation"
                }
              }
            }
          }
        }
      },
      "delete": {
        "description": "Deletes a long-running operation. This method indicates that the client is no longer interested in the operation result. It does not cancel the operation. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`.",
        "operationId": "batches.delete",
        "parameters": [
          {
            "name": "batchesId",
            "in": "path",
            "required": true,
            "description": "The name of the operation resource to be deleted.",
            "schema": {
              "type": "string",
              "pattern": "^batches/[^/]+$"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Empty"
                }
              }
            }
          }
        }
      }
    },
    "/batches/{batchesId}:cancel": {
      "post": {
        "description": "Starts asynchronous cancellation on a long-running operation. The server makes a best effort to cancel the operation, but success is not guaranteed. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Clients can use Operations.GetOperation or other methods to check whether the cancellation succeeded or whether the operation completed despite cancellation. On successful cancellation, the operation is not deleted; instead, it becomes an operation with an Operation.error value with a google.rpc.Status.code of `1`, corresponding to `Code.CANCELLED`.",
        "operationId": "batches.cancel",
        "parameters": [
          {
            "name": "batchesId",
            "in": "path",
            "required": true,
            "description": "The name of the operation resource to be cancelled.",
            "schema": {
              "type": "string",
              "pattern": "^batches/[^/]+$"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Empty"
                }
              }
            }
          }
        }
      }
    },
    "/batches": {
      "get": {
        "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`.",
        "operationId": "batches.list",
        "parameters": [
          {
            "name": "filter",
            "in": "query",
            "description": "The standard list filter.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "The standard list page size.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "pageToken",
            "in": "query",
            "description": "The standard list page token.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "returnPartialSuccess",
            "in": "query",
            "description": "When set to `true`, operations that are reachable are returned as normal, and those that are unreachable are returned in the ListOperationsResponse.unreachable field. This can only be `true` when reading across collections. For example, when `parent` is set to `\"projects/example/locations/-\"`. This field is not supported by default and will result in an `UNIMPLEMENTED` error if set unless explicitly documented otherwise in service or product specific documentation.",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListOperationsResponse"
                }
              }
            }
          }
        }
      }
    },
    "/batches/{batchesId}:updateGenerateContentBatch": {
      "patch": {
        "description": "Updates a batch of GenerateContent requests for batch processing.",
        "operationId": "batches.updateGenerateContentBatch",
        "parameters": [
          {
            "name": "batchesId",
            "in": "path",
            "required": true,
            "description": "Output only. Identifier. Resource name of the batch. Format: `batches/{batch_id}`.",
            "schema": {
              "type": "string",
              "pattern": "^batches/[^/]+$"
            }
          },
          {
            "name": "updateMask",
            "in": "query",
            "description": "Optional. The list of fields to update.",
            "schema": {
              "type": "string",
              "format": "google-fieldmask"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GenerateContentBatch"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenerateContentBatch"
                }
              }
            }
          }
        }
      }
    },
    "/batches/{batchesId}:updateEmbedContentBatch": {
      "patch": {
        "description": "Updates a batch of EmbedContent requests for batch processing.",
        "operationId": "batches.updateEmbedContentBatch",
        "parameters": [
          {
            "name": "batchesId",
            "in": "path",
            "required": true,
            "description": "Output only. Identifier. Resource name of the batch. Format: `batches/{batch_id}`.",
            "schema": {
              "type": "string",
              "pattern": "^batches/[^/]+$"
            }
          },
          {
            "name": "updateMask",
            "in": "query",
            "description": "Optional. The list of fields to update.",
            "schema": {
              "type": "string",
              "format": "google-fieldmask"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EmbedContentBatch"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EmbedContentBatch"
                }
              }
            }
          }
        }
      }
    },
    "/cachedContents/{cachedContentsId}": {
      "get": {
        "description": "Reads CachedContent resource.",
        "operationId": "cachedContents.get",
        "parameters": [
          {
            "name": "cachedContentsId",
            "in": "path",
            "required": true,
            "description": "Required. The resource name referring to the content cache entry. Format: `cachedContents/{id}`",
            "schema": {
              "type": "string",
              "pattern": "^cachedContents/[^/]+$"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CachedContent"
                }
              }
            }
          }
        }
      },
      "patch": {
        "description": "Updates CachedContent resource (only expiration is updatable).",
        "operationId": "cachedContents.patch",
        "parameters": [
          {
            "name": "cachedContentsId",
            "in": "path",
            "required": true,
            "description": "Output only. Identifier. The resource name referring to the cached content. Format: `cachedContents/{id}`",
            "schema": {
              "type": "string",
              "pattern": "^cachedContents/[^/]+$"
            }
          },
          {
            "name": "updateMask",
            "in": "query",
            "description": "The list of fields to update.",
            "schema": {
              "type": "string",
              "format": "google-fieldmask"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CachedContent"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CachedContent"
                }
              }
            }
          }
        }
      },
      "delete": {
        "description": "Deletes CachedContent resource.",
        "operationId": "cachedContents.delete",
        "parameters": [
          {
            "name": "cachedContentsId",
            "in": "path",
            "required": true,
            "description": "Required. The resource name referring to the content cache entry Format: `cachedContents/{id}`",
            "schema": {
              "type": "string",
              "pattern": "^cachedContents/[^/]+$"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Empty"
                }
              }
            }
          }
        }
      }
    },
    "/cachedContents": {
      "get": {
        "description": "Lists CachedContents.",
        "operationId": "cachedContents.list",
        "parameters": [
          {
            "name": "pageSize",
            "in": "query",
            "description": "Optional. The maximum number of cached contents to return. The service may return fewer than this value. If unspecified, some default (under maximum) number of items will be returned. The maximum value is 1000; values above 1000 will be coerced to 1000.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "pageToken",
            "in": "query",
            "description": "Optional. A page token, received from a previous `ListCachedContents` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListCachedContents` must match the call that provided the page token.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListCachedContentsResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "description": "Creates CachedContent resource.",
        "operationId": "cachedContents.create",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CachedContent"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CachedContent"
                }
              }
            }
          }
        }
      }
    },
    "/generatedFiles": {
      "get": {
        "description": "Lists the generated files owned by the requesting project.",
        "operationId": "generatedFiles.list",
        "parameters": [
          {
            "name": "pageSize",
            "in": "query",
            "description": "Optional. Maximum number of `GeneratedFile`s to return per page. If unspecified, defaults to 10. Maximum `page_size` is 50.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "pageToken",
            "in": "query",
            "description": "Optional. A page token from a previous `ListGeneratedFiles` call.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListGeneratedFilesResponse"
                }
              }
            }
          }
        }
      }
    },
    "/generatedFiles/{generatedFilesId}/operations/{operationsId}": {
      "get": {
        "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
        "operationId": "generatedFiles.operations.get",
        "parameters": [
          {
            "name": "operationsId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "generatedFilesId",
            "in": "path",
            "required": true,
            "description": "The name of the operation resource.",
            "schema": {
              "type": "string",
              "pattern": "^generatedFiles/[^/]+/operations/[^/]+$"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Operation"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "InlinedResponses": {
        "properties": {
          "inlinedResponses": {
            "readOnly": true,
            "description": "Output only. The responses to the requests in the batch.",
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/InlinedResponse"
            }
          }
        },
        "description": "The responses to the requests in the batch.",
        "type": "object"
      },
      "GenerationConfig": {
        "properties": {
          "mediaResolution": {
            "description": "Optional. If specified, the media resolution specified will be used.",
            "type": "string",
            "x-enum-descriptions": [
              "Media resolution has not been set.",
              "Media resolution set to low (64 tokens).",
              "Media resolution set to medium (256 tokens).",
              "Media resolution set to high (zoomed reframing with 256 tokens)."
            ],
            "enum": [
              "MEDIA_RESOLUTION_UNSPECIFIED",
              "MEDIA_RESOLUTION_LOW",
              "MEDIA_RESOLUTION_MEDIUM",
              "MEDIA_RESOLUTION_HIGH"
            ]
          },
          "frequencyPenalty": {
            "description": "Optional. Frequency penalty applied to the next token's logprobs, multiplied by the number of times each token has been seen in the respponse so far. A positive penalty will discourage the use of tokens that have already been used, proportional to the number of times the token has been used: The more a token is used, the more difficult it is for the model to use that token again increasing the vocabulary of responses. Caution: A _negative_ penalty will encourage the model to reuse tokens proportional to the number of times the token has been used. Small negative values will reduce the vocabulary of a response. Larger negative values will cause the model to start repeating a common token until it hits the max_output_tokens limit.",
            "type": "number",
            "format": "float"
          },
          "responseSchema": {
            "$ref": "#/components/schemas/Schema",
            "description": "Optional. Output schema of the generated candidate text. Schemas must be a subset of the [OpenAPI schema](https://spec.openapis.org/oas/v3.0.3#schema) and can be objects, primitives or arrays. If set, a compatible `response_mime_type` must also be set. Compatible MIME types: `application/json`: Schema for JSON response. Refer to the [JSON text generation guide](https://ai.google.dev/gemini-api/docs/json-mode) for more details."
          },
          "presencePenalty": {
            "description": "Optional. Presence penalty applied to the next token's logprobs if the token has already been seen in the response. This penalty is binary on/off and not dependant on the number of times the token is used (after the first). Use frequency_penalty for a penalty that increases with each use. A positive penalty will discourage the use of tokens that have already been used in the response, increasing the vocabulary. A negative penalty will encourage the use of tokens that have already been used in the response, decreasing the vocabulary.",
            "type": "number",
            "format": "float"
          },
          "topP": {
            "description": "Optional. The maximum cumulative probability of tokens to consider when sampling. The model uses combined Top-k and Top-p (nucleus) sampling. Tokens are sorted based on their assigned probabilities so that only the most likely tokens are considered. Top-k sampling directly limits the maximum number of tokens to consider, while Nucleus sampling limits the number of tokens based on the cumulative probability. Note: The default value varies by `Model` and is specified by the`Model.top_p` attribute returned from the `getModel` function. An empty `top_k` attribute indicates that the model doesn't apply top-k sampling and doesn't allow setting `top_k` on requests.",
            "type": "number",
            "format": "float"
          },
          "responseJsonSchema": {
            "description": "Optional. An internal detail. Use `responseJsonSchema` rather than this field."
          },
          "thinkingConfig": {
            "description": "Optional. Config for thinking features. An error will be returned if this field is set for models that don't support thinking.",
            "$ref": "#/components/schemas/ThinkingConfig"
          },
          "enableEnhancedCivicAnswers": {
            "description": "Optional. Enables enhanced civic answers. It may not be available for all models.",
            "type": "boolean"
          },
          "candidateCount": {
            "format": "int32",
            "description": "Optional. Number of generated responses to return. If unset, this will default to 1. Please note that this doesn't work for previous generation models (Gemini 1.0 family)",
            "type": "integer"
          },
          "maxOutputTokens": {
            "format": "int32",
            "description": "Optional. The maximum number of tokens to include in a response candidate. Note: The default value varies by model, see the `Model.output_token_limit` attribute of the `Model` returned from the `getModel` function.",
            "type": "integer"
          },
          "temperature": {
            "format": "float",
            "description": "Optional. Controls the randomness of the output. Note: The default value varies by model, see the `Model.temperature` attribute of the `Model` returned from the `getModel` function. Values can range from [0.0, 2.0].",
            "type": "number"
          },
          "logprobs": {
            "description": "Optional. Only valid if response_logprobs=True. This sets the number of top logprobs, including the chosen candidate, to return at each decoding step in the Candidate.logprobs_result. The number must be in the range of [0, 20].",
            "type": "integer",
            "format": "int32"
          },
          "seed": {
            "description": "Optional. Seed used in decoding. If not set, the request uses a randomly generated seed.",
            "type": "integer",
            "format": "int32"
          },
          "speechConfig": {
            "description": "Optional. The speech generation config.",
            "$ref": "#/components/schemas/SpeechConfig"
          },
          "responseMimeType": {
            "description": "Optional. MIME type of the generated candidate text. Supported MIME types are: `text/plain`: (default) Text output. `application/json`: JSON response in the response candidates. `text/x.enum`: ENUM as a string response in the response candidates. Refer to the [docs](https://ai.google.dev/gemini-api/docs/prompting_with_media#plain_text_formats) for a list of all supported text MIME types.",
            "type": "string"
          },
          "imageConfig": {
            "description": "Optional. Config for image generation. An error will be returned if this field is set for models that don't support these config options.",
            "$ref": "#/components/schemas/ImageConfig"
          },
          "responseModalities": {
            "description": "Optional. The requested modalities of the response. Represents the set of modalities that the model can return, and should be expected in the response. This is an exact match to the modalities of the response. A model may have multiple combinations of supported modalities. If the requested modalities do not match any of the supported combinations, an error will be returned. An empty list is equivalent to requesting only text.",
            "type": "array",
            "items": {
              "enum": [
                "MODALITY_UNSPECIFIED",
                "TEXT",
                "IMAGE",
                "AUDIO",
                "VIDEO"
              ],
              "x-enum-descriptions": [
                "Default value.",
                "Indicates the model should return text.",
                "Indicates the model should return images.",
                "Indicates the model should return audio.",
                "Indicates the model should return video."
              ],
              "type": "string"
            }
          },
          "stopSequences": {
            "description": "Optional. The set of character sequences (up to 5) that will stop output generation. If specified, the API will stop at the first appearance of a `stop_sequence`. The stop sequence will not be included as part of the response.",
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "topK": {
            "description": "Optional. The maximum number of tokens to consider when sampling. Gemini models use Top-p (nucleus) sampling or a combination of Top-k and nucleus sampling. Top-k sampling considers the set of `top_k` most probable tokens. Models running with nucleus sampling don't allow top_k setting. Note: The default value varies by `Model` and is specified by the`Model.top_p` attribute returned from the `getModel` function. An empty `top_k` attribute indicates that the model doesn't apply top-k sampling and doesn't allow setting `top_k` on requests.",
            "type": "integer",
            "format": "int32"
          },
          "responseLogprobs": {
            "description": "Optional. If true, export the logprobs results in response.",
            "type": "boolean"
          }
        },
        "description": "Configuration options for model generation and outputs. Not all parameters are configurable for every model.",
        "type": "object"
      },
      "ListGeneratedFilesResponse": {
        "description": "Response for `ListGeneratedFiles`.",
        "type": "object",
        "properties": {
          "generatedFiles": {
            "description": "The list of `GeneratedFile`s.",
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/GeneratedFile"
            }
          },
          "nextPageToken": {
            "description": "A token that can be sent as a `page_token` into a subsequent `ListGeneratedFiles` call.",
            "type": "string"
          }
        }
      },
      "GenerateContentBatch": {
        "properties": {
          "state": {
            "description": "Output only. The state of the batch.",
            "readOnly": true,
            "enum": [
              "BATCH_STATE_UNSPECIFIED",
              "BATCH_STATE_PENDING",
              "BATCH_STATE_RUNNING",
              "BATCH_STATE_SUCCEEDED",
              "BATCH_STATE_FAILED",
              "BATCH_STATE_CANCELLED",
              "BATCH_STATE_EXPIRED"
            ],
            "x-enum-descriptions": [
              "The batch state is unspecified.",
              "The service is preparing to run the batch.",
              "The batch is in progress.",
[...]
